.content {
  display: block;
  opacity: 0; transition: opacity 0.3s linear;
}
.content.loaded { opacity: 1; }
.content> .with-columns {
  padding-top: var(--padding-size-l);
}
.item-info {
  width: calc(100% - var(--buy-block-width));
  padding-right: var(--padding-size-m);
  padding-top: var(--padding-size-m);
}
.item-buy-block {
  position: sticky; top: calc(var(--header-top-height) + var(--header-bottom-height) + var(--padding-size-l));
  right: 0; height: fit-content;
  width: var(--buy-block-width);
  padding: var(--padding-size-m);
}
.price-block {
  display: flex; flex-wrap: nowrap;
  font-weight: 500; white-space: nowrap;
  align-items: baseline;
}
.p-b { margin-bottom: 15px}
.price-block> div:first-child {
  opacity: 0.8; margin-right: 13px;
}
.price-block> div:last-child {
  font-size: calc(16px + 0.4vw);
  color: #111119;
}
.count-block {
  display: flex; flex-wrap: nowrap;
  justify-content: left; align-items: center;
  height: calc(25px + 0.625vw);
  margin: var(--padding-size-s) 0;
}
.count-block> div{
  display: flex; flex-wrap: nowrap;
  text-align: center; margin-right: 8px;
  width: calc(78px + 1.95vw); font-weight: 500;
}
.counter {
  width: calc(25px + 0.625vw);
  line-height:  calc(25px + 0.625vw);
  background-color: #aaabb133;
  border-radius: 3px; cursor: pointer;
}
.counter:hover {
  background-color: var(--accent-color-light);
  color: #fff;
}
.counter.disabled {
  opacity: 0.5;
  background-color: #aaabb144;
  color: unset; cursor: not-allowed;
}
.amount {
  width: calc(28px + 0.7vw);
  line-height:  calc(25px + 0.625vw);
}
.item-buy-block .btn {
  margin-bottom: calc(var(--padding-size-m) * 0.9);
  font-size: calc(16px + 0.4vw);
  height: var(--header-top-height);
  line-height: calc(var(--header-top-height)*0.98);
}
.available {
  font-weight: 500;
  color: var(--green-color);
}

@keyframes in {
  0%{ opacity: 0}
  100%{ opacity: 1}
}

.in {position:relative;transition: none;cursor:initial}
.in> span {
  animation: 0.3s in linear none;
}
.in i {font-size: calc(var(--input-height) * 0.5)}



.item-top {
  padding-bottom: var(--padding-size-m);
}
.item-gallery {
  width: calc(20% + 120px);
}
.main-photo-wrapper {
  width: calc(18vw + 70px); /* calculated */
  max-width: calc(290px + 1.75vw);
  height: calc(18vw + 70px); /* calculated */
  max-height: calc(290px + 1.75vw);
  padding: var(--padding-size-m);
  overflow: hidden; cursor: zoom-in;
  mix-blend-mode: multiply;
  border-radius: 4px; display: flex;
  align-items: center; justify-content: center;
}
.main-photo-wrapper> img {
  width: 90%;
}
.rest-photos {
  display: flex;
  justify-content: center;
  padding: var(--padding-size-m);
  overflow: hidden;
}
.rest-photos> div {
  margin: var(--padding-size-s);
  border: 1px solid #aaaaaa77;
  border-radius: 2px;
  background-color: #fff;
  background-size: contain; background-repeat: no-repeat;
  background-position: center;
  height: calc(50px + 1.25vw); position: relative;
  width: calc(50px + 1.25vw); cursor: pointer;
  opacity: 0.6; transition: 0.15s;
}
.rest-photos> div:hover {
  opacity: 0.9;
}
.rest-photos> .selected {
  border-color: #aaaaae;
  transform: scale(1.1);
  opacity: 1;
}




.main-info {
  width: calc(80% - 120px);
  overflow: hidden; padding-left: var(--padding-size-m);
}
.name {
  margin: var(--padding-size-m) 0;
  margin-top: 0;
}
.origin {
  margin-bottom: var(--padding-size-m);
  font-size: calc(12px + 0.3vw);
  display: block;
}
.naming> span { font-weight: 500; }
.origin a {
  color: var(--primary-color-light);
  white-space: nowrap; overflow: hidden;
  text-overflow: ellipsis;
}
.main-characteristics {
  margin-bottom: var(--padding-size-m);
}
.main-characteristics> div {
  position: relative;
  display: flex; align-items: baseline;
  justify-content: space-between;
}
.main-characteristics> div> div {
  background-color: var(--background-color);
  z-index: 1;
  padding: 0 var(--padding-size-m);
}
.main-characteristics> div::after {
  position: absolute; top: 50%;
  height: 1px; border-bottom: 1px dotted #aaaaaa77;
  width: 100%; z-index: 0; content: "";
}



.description {
  margin: var(--padding-size-xl) 0;
}
.description .p {
  min-height: calc(13px + 0.325vw);
  min-width: 3px;
}




.index {
  display: inline-block;
  transform: translate(-10%, 15%) scale(0.8);
}
.characteristics {
  margin-bottom: var(--padding-size-l);
  font-size: calc(12px + 0.3vw);
}
.characteristics> div { /* container */
  margin: var(--padding-size-m) 0;
  border: 1px solid #aaaaaa; border-radius: 2px;
  background-color: #ffffff3d; overflow: hidden;
}
.characteristics> div> div { /* row */
  display: flex; justify-content: space-between;
  min-height: calc(var(--header-top-height)*0.8);
  border-top: 1px solid #aaaaaa;
}
.characteristics> div> div:first-child { /* row */
  background-color: #aaaaaa10;
  border-top: none; font-weight: 500;
}
.characteristics> div> div> div { /* cell */
  display: flex; align-items: center;
  width: 10.75%; border-left: 1px solid #aaaaaa;
  padding: 2px; overflow: hidden;
}
.characteristics> div> div> div:first-child { /* cell */
  border-left: none;
  font-weight: 500;
}
.characteristics> div> div> div:nth-child(2) { width: 14% }
.characteristics> div> div> div> div {
  text-align: center; width: 100%;
}

/*_______________ GALLERY _______________*/
.gallery {
  position: fixed;
  top: 0; left: 0; height: 100vh;
  width: 100vw; color: #ffffff88;
  background-color: #111113a0; z-index: 20;
}
.gallery> .photo {
  position: absolute;
  z-index: 0; width: 100%; height: 100%;
  margin: auto;
}
.photo> img {
  background-color: #fff;
  max-height: 100%; max-width: 100%;
}
.gallery i {
  font-size: calc(20px + 0.5vw);
}
.next, .prev, .closer {
  width: calc(70px + 1.75vw);
  position: absolute; border-radius: 2px;
  background-color: transparent;
  z-index: 2;
  transition: 0.15s; cursor: pointer;
}
.next, .prev {
  top: calc(70px + 1.75vw);
  height: calc(100% - 140px - 3.5vw);
}
.closer {
  top: 0; right: 0;
  font-size: calc(35px + 0.875vw);
  height: calc(70px + 1.75vw);
  line-height: calc(70px + 1.75vw);
  text-align: center;
}
.next { right: 0; }
.prev { left: 0; }
.next:hover, .prev:hover, .closer:hover {
  background-color: #1111143d;
  color: #fff;
}
/* __________ PC only __________ */
@media screen and (min-width: 551px) {
}
/*_______________________________*/
@media screen and (max-width: 900px) {
  .category { width: 25% }
}
@media screen and (max-width: 660px) {
  .content> .with-columns {
    display: block;
  }
  .item-buy-block {
    width: 100%; display: flex; flex-wrap: wrap; align-items: center;
    top: unset; bottom: 0; background-color: var(--background-color);
    box-shadow: 0 -9px 3px 9px var(--background-color); z-index: 3;
    padding: 0; justify-content: space-between;
  }

  .item-buy-block> .btn {width:calc(50% - var(--padding-size-s))}
  .available, .item-buy-block>.p-b { width: 0; display: none; visibility: hidden}

  .item-info {
    width: 100%; padding-right: 0;
  }
  .item-gallery, .main-info {width: 50vw}
  .main-photo-wrapper {
    padding: 0; width: 50vw; height: 50vw;
  }
  .count-block {
    height: calc(35px + 0.875vw);
  }
  .count-block> div {
    width: calc(110px + 2.65vw);
  }
  .count-block> div> div {
    line-height: calc(35px + 0.875vw);}
  .counter {
    width: calc(35px + 0.875vw);
  }
}
/* __________ mobile only __________ */
@media screen and (max-width: 550px) {
  .content> .with-columns, .item-info {
    padding-top: 0;
  }
  .item-top {
    display: block;
  }
  .item-gallery {margin-bottom: var(--padding-size-m)}
  .item-gallery, .main-info {width: 100%}
  .main-photo-wrapper {
    width: 90%;
    height: 85vw;
    margin: 0 auto;
  }
  .characteristics> div {
    overflow-x: scroll
  }
  .characteristics> div> div {width: 200%}
  .characteristics> div> div> div {width: 21.5%}
  .characteristics> div> div> div:nth-child(2) {width: 28%}
  .main-info { padding: 0}

  .next, .prev, .closer {color: #fff;height:calc(70px + 1.75vw);transition: none;}
  .next, .prev {background-color: #1111143d;top:50%;transform: translateY(-50%) scale(0.8);border-radius: 50%}
  .next:active, .prev:active, .closer:active {background-color: #1111147d}
  .count-block {margin:0}
  .item-buy-block .btn {margin-top: 0; width: 100%!important;}
  .counter:hover {background-color: #aaabb133;color: unset}
  .counter:active {background-color:var(--accent-color-light);color: #fff}
}


