<div class="gallery unselectable" *ngIf="galleryOpened" [style]="getHeightCss()">
  <div class="photo"><img src="{{photos[activePhoto]}}" alt="фото" class="absolute-center"></div>
  <div class="prev" (click)="prevPhoto()"><i class="fas absolute-center fa-chevron-left"></i></div>
  <div class="next" (click)="nextPhoto()"><i class="fas absolute-center fa-chevron-right"></i></div>
  <div class="closer" (click)="galleryOpened = false">×</div>
</div>

<div class="content-wrapper">
  <div class="content" [ngClass]="engineLoaded? 'loaded' : ''">
    <app-map [customStyle]="'position: absolute'"></app-map>

    <div class="with-columns">

      <div class="item-info">

        <h2 class="mobile">Двигатель {{engine.name}}</h2>
        <div class="with-columns item-top">
          <div class="item-gallery">
            <div class="main-photo-wrapper">
              <img *ngIf="photos.length > 0" alt="photo"
                   src="{{photos[activePhoto]}}" (click)="galleryOpened = true">
              <img *ngIf="photos.length < 1" src="assets/noImage.png" alt="photo">
            </div>
            <div class="rest-photos" *ngIf="photos.length > 0">
              <div *ngFor="let photo of photos; let i = index"
                [ngClass]="i === activePhoto ? 'selected' : ''" (click)="activePhoto = i"
                [style]="'background-image: url(' + photo + ')'"
              ></div>
            </div>
          </div>
          <div class="main-info">
            <h2 class="name desktop">Двигатель {{engine.name}}</h2>
            <div class="origin">
              <div><a class="link" routerLink="/catalog" [queryParams]="{brand : engine.manufacturer}">{{engine.manufacturer}}</a></div>
              <div><a class="link" routerLink="/catalog" [queryParams]="{type : engine.type.name}">{{engine.type.name}}</a></div>
              <div class="naming"><span>наименование: </span> {{engine.name}}</div>
            </div>
            <div class="main-characteristics">
              <div><div>&#x2022; фазность: </div><div>{{engine.characteristics.length}}</div></div>
              <div><div>&#x2022; мощности: </div><div>{{getPower()}}</div></div>
              <div><div>&#x2022; масса: </div><div>{{engine.mass}} кг</div></div>
            </div>
            <div class="link goTo" onclick="goTo('characteristics')">все характеристики <i class="fas fa-chevron-down"></i></div>
          </div>
        </div>

        <div class="description" *ngIf="hasDescription()">
          <h5 class="unselectable">Описание</h5>
          <p [innerHTML]="getDescription()"></p>
        </div>

        <div class="characteristics" id="characteristics">
          <h5 class="unselectable">Характеристики</h5>
          <div>
            <div class="unselectable">
              <div><div>Р, кВт</div></div>
              <div><div>Номин. частота, <span style="white-space: nowrap">об/мин</span></div></div>
              <div><div>КПД, %</div></div>
              <div><div>cos φ</div></div>
              <div><div>I<span class="index">н</span>, А</div></div>
              <div><div>I<span class="index">п</span>/I<span class="index">н</span></div></div>
              <div><div>М<span class="index">п</span>/М<span class="index">н</span></div></div>
              <div><div>М<span class="index">max</span>/М<span class="index">н</span></div></div>
              <div><div>М<span class="index">min</span>/М<span class="index">н</span></div></div>
            </div>
            <div *ngFor="let row of engine.characteristics">
              <div><div>{{row.power}}</div></div>
              <div><div>{{row.frequency}}</div></div>
              <div><div>{{row.efficiency}}</div></div>
              <div><div>{{row.cosFi}}</div></div>
              <div><div>{{row.electricityNominal220}}, {{row.electricityNominal380}}</div></div>
              <div><div>{{row.electricityRatio}}</div></div>
              <div><div>{{row.momentsRatio}}</div></div>
              <div><div>{{row.momentsMaxRatio}}</div></div>
              <div><div>{{row.momentsMinRatio}}</div></div>
            </div>
          </div>
        </div>
      </div>

      <div class="item-buy-block">
        <div class="price-block">
          <div>Цена: </div>
          <div>{{engine.priceLapy}} ₽
            <span style="opacity: 0.3; font-size: 0.75em;" *ngIf="amount > 1">
               · {{amount}} = {{engine.priceLapy * amount}} ₽
            </span>
          </div>
        </div>
        <div class="count-block unselectable">
          <div>
            <div class="counter" (click)="less()" [ngClass]="amount < 2 ? 'disabled' : ''">-</div>
            <div class="amount">{{amount}}</div>
            <div class="counter" (click)="more()">+</div>
          </div> шт
        </div>
        <div class="btn btn-primary btn-3d unselectable" (click)="adToCart()" [ngClass]="state">
          <span *ngIf="state != 'in'">в корзину <i class="fas fa-shopping-cart"></i></span>
          <span *ngIf="state == 'in'">в корзине <i class="fas fa-check-circle"></i></span>
        </div>
        <div class="btn btn-secondary unselectable">купить в 1 клик</div>
        <div class="available desktop unselectable"><i class="fas fa-check"></i> в наличии на складе</div>
      </div>
    </div>

  </div>
</div>
