/* ________ CONTACT BLOCK __________*/
.contact-block-wrapper {
  width: 100%;
  background-color: #f5f6fb;
}
.contact-block {
  padding: calc(var(--padding-size)*2);
  margin: 0 auto;
  max-width: var(--content-size);
  width: 100%;
  flex-wrap: wrap;
  align-items: center;
}
.contact-form {
  max-width: 100%;
  width: var(--form-width);
  padding: var(--padding-size);
}
.contact-form> .form {
  padding: calc(var(--padding-size)*1.3) var(--padding-size);
  background: #fff;
  border-radius: 6px;
  box-shadow: 6px 6px 20px 6px #2633575e;
  border-top: 4px solid var(--primary-color);
}
.contact-form input {
  margin-bottom: calc(var(--padding-size)*0.6);
}
.contact-form textarea {
  min-height: calc(var(--header-top-height)*2);
  margin-bottom: var(--padding-size);
  max-width: 100%;
  min-width: 100%;
}
.contact-text {
  max-width: 100%;
  width: calc(100% - var(--form-width));
  padding: var(--padding-size);
  font-style: italic;
}
form .label {
  font-size: calc(9px + 0.225vw);
  margin-right: var(--padding-size);
}

.footer-bottom-wrapper {
  position: relative;
  width: 100vw;
  background-color: var(--primary-color-dark);
}
.footer-bottom {
  display: flex;
  align-items: flex-start;
  justify-content: space-around;
  width: 100%;
  max-width: var(--content-size);
  padding: var(--padding-size);
  padding-right: calc(var(--padding-size)*2);
  margin: 0 auto;
  color: #eeeeeeed;
}

/* __________ PC only __________ */
@media screen and (min-width: 551px) {
}
@media screen and (max-width: 900px) {
}
@media screen and (max-width: 660px) {
  .contact-text, .contact-form { width: 100% }
}
/* __________ mobile only __________ */
@media screen and (max-width: 550px) {
}
