<div class="contact-block-wrapper">
  <div class="contact-block with-columns">
    <div class="contact-text">
      <h4>Как мы можем помочь?</h4>
      <p>Если у вас есть какие-либо вопросы или вам нужен совет, мы с радостью ответитм!
        Заполните форму обратной связи или свяжитесь с нами
        <span class="link with-tooltip">
                    другим удобным для вас способом
                    <span class="tooltip underlined" onclick="goTo('footer')">
                        наши контакты
                    </span>
                </span>
      </p>
    </div>
    <div class="contact-form">
      <form class="form">
        <div class="input-block">
          <input id="name" class="input" autocomplete="off" required>
          <label for="name">Ваше имя*</label>
        </div>
        <div class="input-block">
          <input id="contact" class="input" autocomplete="off" required>
          <label for="contact">E-mail или телефон*</label>
        </div>
        <div class="input-block">
          <textarea id="message" class="input" autocomplete="off" required></textarea>
          <label for="message">Ваше сообщение</label>
        </div>
        <div class="with-columns">
          <div class="label">поля, помеченные звёздочкой (*) обязательны для заполнения</div>
          <div class="btn btn-primary">отправить</div>
        </div>
      </form>
    </div>
  </div>
</div>

<div class="footer-bottom-wrapper">
  <div class="footer-bottom">
    <div class="footer-col">
      <h5>Адрес</h5>
      <div>212649, Республика Беларусь, г. Могилев, ул. Королева, 8</div>
    </div>
    <div class="footer-col">
      <h5>Контакты</h5>
    </div>
    <div class="footer-col"></div>
    <div class="footer-col">
      <h5>e-mail адреса:</h5>
      <div>
        <div><a href="mailto:eldvig@mogilev.by" target="_blank">eldvig@mogilev.by</a></div>
        <div><a href="mailto:motor@liftmach.by" target="_blank">motor@liftmach.by</a></div>
        <div><a href="mailto:reklama@liftmach.by" target="_blank">reklama@liftmach.by</a></div>
        <div><a href="mailto:reklama@liftmach.by" target="_blank">liftmach@liftmach.by</a></div>
      </div>
    </div>
  </div>
</div>
