<div class="contact-block-wrapper unselectable">
  <div class="contact-block with-columns" id="contactBlock">
    <div class="contact-text">
      <h4>Как мы можем помочь?</h4>
      <p>Если у вас есть какие-либо вопросы или вам нужен совет, мы с радостью ответитм!
        Заполните форму обратной связи или свяжитесь с нами
        другим удобным для вас способом
      </p>
    </div>
    <div class="contact-form">
      <div class="form">
        <div class="input-block">
          <input id="name" class="input" autocomplete="off" required [formControl]="name" >
          <label for="name">Ваше имя*</label>
        </div>
        <div class="input-block">
          <input id="contact" class="input" autocomplete="off" required [formControl]="contact">
          <label for="contact">E-mail или телефон*</label>
        </div>
        <div class="input-block">
          <textarea id="message" class="input" autocomplete="off" required [formControl]="message"></textarea>
          <label for="message">Ваше сообщение</label>
        </div>
        <div class="row">
          <div class="label">поля, помеченные звёздочкой (*) обязательны для заполнения</div>
          <div class="btn btn-primary" (click)="sendFeedback()">отправить</div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="footer-top-wrapper">
  <div class="footer-top">
    <div>Время работы офиса с ХХ:ХХ по ХХ:ХХ <span>[основной_телефон]</span></div>
  </div>
</div>
<div class="footer-bottom-wrapper">
  <div class="footer-bottom">
    <div class="footer-col">
      <h5><i class="fas fa-map-marker-alt"></i> Адрес</h5>
      <div>212649, Республика Беларусь, г. Могилев, ул. Королева, 8</div>
    </div>
    <div class="footer-col">
      <h5><i class="fas fa-address-book"></i> Контакты</h5>
    </div>
    <div class="footer-col">
      <h5><i class="fas fa-share-alt"></i> Полезные ссылки</h5>
    </div>
    <div class="footer-col">
      <h5><i class="fas fa-mail-bulk"></i> e-mail адреса:</h5>
      <div>
        <div><a href="mailto:eldvig@mogilev.by" target="_blank">eldvig@mogilev.by</a></div>
        <div><a href="mailto:motor@liftmach.by" target="_blank">motor@liftmach.by</a></div>
        <div><a href="mailto:reklama@liftmach.by" target="_blank">reklama@liftmach.by</a></div>
        <div><a href="mailto:reklama@liftmach.by" target="_blank">liftmach@liftmach.by</a></div>
      </div>
    </div>
  </div>
  <div class="terms-block">
    <div class="row">
      <img src="assets/logoWhite.png" alt="mez.by">
    </div>
    <div class="row">
      <div>© 2021, Могилевский завод "Электодвигатель"</div>
      <div class="row">
        <a routerLink="terms" class="link">условия обслуживания</a>|
        <a routerLink="privacy" class="link">политика конфиденциальности</a>
      </div>
    </div>
  </div>
</div>
