@keyframes o {
  0% {opacity:0}
  100% {opacity:1;}
}
@keyframes w {
  0% {transform: translate(-50%, -90%) scale(0.8)}
  100% {transform: translate(-50%, -50%) scale(1)}
}
@keyframes o-h {
  0% {opacity:1}
  100% {opacity:0}
}
.o {
  position: fixed; top: 0; left: 0;
  width: 100%; height: 100%;
  z-index: 11; opacity: 1;
  background-color: #00001060;
  animation: 0.3s o ease forwards;
}
.w {
  background-color: #fff; overflow: hidden;
  border-radius: 8px; max-width: calc(90% - var(--padding-size-xl));
  width: calc(300px + 7.5vw); font-size: calc(14px + 0.35vw);
  box-shadow: 0 0 11px 0 #05050a45; animation: 0.4s w ease forwards;
}
.hide {
  opacity: 0; transition: opacity 0.4s;
  animation: 0.3s o-h forwards;
}
.h, .f {
  padding: var(--padding-size-m);
  background-color: #f8f8fb;
}
.h {
  font-weight: bold; color: #9999a9; font-size: calc(16px + 0.4vw);
  border-bottom: 1px solid #99999933;
}
.btn-3d {
  color: #fff;
}
.f {display: flex; justify-content: flex-end; align-items: center;
  border-top: 1px solid #99999933;}
.b {
  padding: var(--padding-size-m);
}
.green {
  background-color: var(--green-color);
}
.danger {
  background-color: #e33a48;
}
.warning {background-color: #dda720
}
.default {
  background-color: var(--primary-color-light);
}
