<div class="content-wrapper">
  <div class="content">
    <app-map class="desktop"></app-map>
    <div class="main-content">
      <h2>Опорно-поворотные устройства</h2>
        <p>
          Опорно-поворотное устройство (ОПУ) представляют собой механизмы для передачи крутящего момента, способные воспринимать осевые и радиальные нагрузки совместно, раздельно и в любом направлении и используются для соединения поворотной части машин (автогидроподъемников, стреловых кранов, экскаваторов, бетономесителей, лебёдок, манипуляторов и др.) с неповоротной частью.
        </p>
        <div class="img-w">
          <img alt="" src="/assets/photos/specialPages/bearings/1.jpg"><br>
        </div>
        <p>
          В зависимости от исполнения опорно-поворотные устройства делятся на:
        </p>
        <p>
        </p>
        <ul>
          <li>
            однорядные; </li>
          <li>
            двухрядные; </li>
          <li>
            трехрядные. </li>
        </ul>
        <p>
        </p>
        <p>
          По виду зацепления опорно-поворотные устройства делятся на:
        </p>
        <p>
        </p>
        <ul>
          <li>
            беззубчастого зацепления; </li>
          <li>
            с внутренним зубчатым зацеплением; </li>
          <li>
            с наружным зубчатым зацеплением. </li>
        </ul>
        <div class="img-w">
          <img alt="" src="/assets/photos/specialPages/bearings/2.jpg">
        </div>
        <p>
          Опорно-поворотное устройство имеет следующие преимущества:
        </p>
        <p>
        </p>
        <ul>
          <li>
            высокая надежность и стабильность в работе; </li>
          <li>
            высокая кинематическая точность; </li>
          <li>
            высокая грузоподъемность; </li>
          <li>
            работа в условиях влажной и пыльной среды; </li>
          <li>
            высокие статические и динамические нагрузки; </li>
          <li>
            равномерное распределение нагрузки; </li>
          <li>
            широкий диапазон рабочих температур </li>
        </ul>
        <p>
          У нас Вы можете приобрести интересующий вид ОПУ в исполнении с любым зацеплением или без него, а также и другие&nbsp;опорно поворотные устройства: редуктор поворота башни экскаватора, круги поворотные и многое др.
        </p>
        <div class="img-w">
          <img alt="" src="/assets/photos/specialPages/bearings/3.jpg">
        </div>
        <p>
          Предоставляем различные варианты частей ОПУ с дюймовым, метрическим размером и наружном диаметром 400-2000 мм.
        </p>
    </div>
  </div>
</div>
<app-feedback></app-feedback>
