<div class="landing-wrapper unselectable">
  <div class="landing-background"></div>
  <div class="landing">
    <app-map [customStyle]="'color: #fff; opacity: 0.9'" class="desktop"></app-map>
    <div class="row">
      <div class="landing-text">
        <div>
          <h2>Электро-двигатели МЭЗ</h2>
          <p>Если вы ищете замену двигателя или планируете новый проект,
            найдите свой двигатель с помощью расширенного поиска или свяжитесь с нами любым удобмным вам способом, чтобы убедиться, что вы выбрали двигатель, наиболее подходящий вам.</p>
          <a class="link" routerLink="/contacts">Контакты &#8250;</a>
        </div>
      </div>
      <img src="/assets/landingImage.png" class="landing-image" alt="best engines">
    </div>
    <div class="search-block">
      <div class="row">
        <h4>Найди свой двигатель</h4><div id="resetFilters">сбросить</div>
      </div>
      <div class="row filter-row">
        <div class="input-block">
          <select id="productType" (change)="recount()" class="select" val=""
                  [(ngModel)]="category" onchange="this.setAttribute('val', this.value);">
            <option value="" selected> </option>
            <option *ngFor="let c of catalogService.categories">{{c.name}}</option>
          </select>
          <label for="productType">тип двигателя</label>
        </div>
        <div class="input-block">
          <select id="productBrand" class="select" (change)="recount()" val=""
                  onchange="this.setAttribute('val', this.value);" [(ngModel)]="manufacturer">
            <option value="" selected> </option>
            <option *ngFor="let m of catalogService.manufacturers">{{m.name}}</option>
          </select>
          <label for="productBrand">производитель</label>
        </div>
        <div class="input-block">
          <select id="efficency" class="select" val="" (change)="recount()"
                  onchange="this.setAttribute('val', this.value);" [(ngModel)]="efficiency">
            <option value=""></option>
            <option value="0-40">< 40%</option>
            <option value="40-60">40% - 60%</option>
            <option value="60-70">60% - 70%</option>
            <option value="70-80">70% - 80%</option>
            <option value="80-90">80% - 90%</option>
            <option value="90-100">> 90%</option>
          </select>
          <label for="efficency">кпд</label>
        </div>
        <div class="input-block">
          <select id="frequency" class="select" val="" onchange="this.setAttribute('val', this.value);">
            <option value=""></option>
            <option> < 900</option>
            <option>900 - 1200</option>
            <option>1200 - 2500</option>
            <option>2500 - 3600</option>
          </select>
          <label for="frequency">частота</label>
        </div>

        <a id="searchButton" class="btn btn-primary btn-3d" [ngClass]="counting? 'btn-loading' : ''"
           routerLink="/catalog" [queryParams]="getParams()">
          {{getBtnText()}}
        </a>

      </div>

    </div>
  </div>
</div>

<div class="category-wrapper">
  <div class="categories">
    <h3>Доступные категории</h3>
    <div class="categories-content">
      <app-category class="category"
        *ngFor="let categoryPreview of catalogService.categories"
        [category]="categoryPreview"
      ></app-category>
    </div>
  </div>
</div>

<div class="news-wrapper">
  <div class="news">
    <h3>Новости</h3>
    <div class="news-content" *ngIf="newsService.postPreviews.length > 0">
      <app-post-main
        *ngFor="let post of newsService.postPreviews"
        [post]="post" class="post"
      ></app-post-main>
    </div>
  </div>
</div>

<app-feedback></app-feedback>
