.landing-wrapper, .category-wrapper, .news-wrapper {
  width: 100vw;
  position: relative;
  z-index: 1;
}
.landing-background {
  position: absolute;
  width: 100%; height: calc(100% - 20px - 1vw);
  background: linear-gradient( 120deg, var(--primary-color) 5%, var(--primary-color-dark) 100%);
  border-radius: 0 0 calc(7% + 185px + 7vw)/calc(7% + 65px + 4vw) 0;
  z-index: -1;
}
.slider {
  display: flex; width: calc(100% - 50px - 1vw); position: relative;
  flex-wrap: nowrap; margin: 0 calc(25px + 0.5vw);
}
@keyframes s-in {
  0% {transform: translateX(25%);opacity:0}
  100% {transform: translateX(0);opacity:1}
}
@keyframes s-out {
  0% {transform: translateX(0);opacity:1}
  100% {transform: translateX(-25%) scale(0.95);opacity:0}
}
.slide {width:100%;opacity:0;position:absolute;top:0;right:0;transform:translateX(100%)}
.s-in-f {position: relative; transform: translateX(0);opacity:1; animation: s-in 0.4s none}
.s-out-f {top:0;right:0;position: absolute;transform: translateX(-100%);opacity:0; animation: s-out 0.2s none}
.s-in-b {position: relative; transform: translateX(0);opacity:1; animation: s-out 0.4s reverse}
.s-out-b {top:0;right:0;position: absolute;transform: translateX(100%);opacity:0; animation: s-in 0.2s reverse}
.slide {animation-fill-mode: both;}
.sw-n, .sw-p {
  position: absolute; width: var(--header-top-height); top: 50%; transform: translateY(-50%); z-index: 5;
  height: var(--header-top-height); border-radius: 50%; background-color: #fff;cursor: pointer;
  box-shadow: 1px 3px 6px 2px var(--primary-color-dark); transition: 0.3s; opacity: 0;
}
.sw-p>i , .sw-n> i {font-size: calc(15px + 0.375vw); color: var(--accent-color)}
.slider:hover .sw-p, .slider:hover .sw-n {opacity: 1}
.sw-n {right: -3vw } .sw-p {left: -3vw;box-shadow: 1px 3px 6px 2px var(--primary-color)}
.sw-s {
  position: absolute; bottom: var(--padding-size-s); left: 50%; transform: translateX(-50%);
  display: flex; flex-wrap: nowrap; z-index: 5;
}
.sw-s> div {
  width: calc(8px + 0.2vw); border-radius: 20px; background-color: #fff; transition: 0.2s;
  height: calc(8px + 0.2vw); margin: calc(3px + 0.05vw); opacity: 0.7; cursor: pointer; box-shadow: 0 0 1px 0 var(--primary-color-dark);
}
.sw-s> .sw-a {width: calc(14px + 0.35vw); opacity: 1}
.landing {
  width: 100%;
  max-width: var(--content-size);
  padding: 0 var(--padding-size-m);
  margin: 0 auto calc(20px + 1vw);
}
.lt {
  color: #fff;
  padding: var(--padding-size-m);
  width: calc(50% - 100px - 5vw); margin-bottom: var(--padding-size-s);
}
.lt a {
  color:#f53a48;
  font-size: calc(15px + 0.375vw);
  cursor: pointer;
  font-weight: 500;
  filter: brightness(1.1) saturate(1.1);
}
.lt h2 {
  white-space: nowrap;
}
.lt>div {
  width: calc(130% + 50px + 2.5vw);
}
.l-im {
  height: calc(160px + 16vw);
  max-height: calc(500px + 4vw);
  padding-left: var(--padding-size-m);
  margin-top: auto;
}
.search-block {
  background-color: #fff;
  border-radius: 6px;
  box-shadow: 4px 10px 20px 6px #2633575e;
  margin: 0 var(--padding-size-m);
  padding: calc(var(--padding-size-m)*0.8);
}
.input-block {
  margin-right: 6px;
  width: 15%;
}
.input-block:first-child, .input-block:nth-child(2) {
  width: 25%;
}
.filter-row {
  margin-top: calc(var(--padding-size-m)*0.6);
}
#searchButton {
  width: 20%;
}
#resetFilters {
  font-weight: bold;
  opacity: 0.4;
  cursor: pointer;
  padding: 0 var(--padding-size-m);
}
#resetFilters:hover {opacity: 0.6;}

.news, .categories {
  width: 100%;
  max-width: var(--content-size);
  padding: var(--padding-size-m);
  margin: 0 auto calc(20px + 1vw);
}
.news h3, .categories h3 {
  text-align: center;
}
.categories-content, .news-content {
  padding: var(--padding-size-m);
  display: flex; flex-wrap: wrap; justify-content: center;
}
.category {
  width: 20%; padding: var(--padding-size-s); cursor: pointer;
  margin-bottom: var(--padding-size-s);
}
/* __________ NEWS BLOCK _________*/
.news-content {
  overflow: hidden; flex-wrap: wrap;
  justify-content: space-around;
}
.post {
  border-radius: 6px;
  background-color: #fff;
  display: block; overflow: hidden;
  box-shadow: 0 3px 7px 0 #26335724;
  transition: 0.2s;
  width: calc(33.3% - var(--padding-size-m));
  height: calc(250px + 10vw);
}
.post:hover {
  box-shadow: 0 3px 13px 3px #26335753;
}

/* __________ PC only __________ */
@media screen and (min-width: 551px) {
}
/*_______________________________*/
@media screen and (max-width: 900px) {
  .category { width: 25% }
}

@media screen and (max-width: 800px){
  .post {
    width: calc(50% - var(--padding-size-m));
    height: 45vw;
  }
  .post:nth-child(3) {
    display: none; visibility: hidden;
  }
}
@media screen and (max-width: 660px) {
  .category { width: 33% }
  .filter-row {
    flex-wrap: wrap;
  }
  .filter-row>* { width: calc(50% - 3px); margin-bottom: 6px; margin-right: 0 }
  .filter-row>*:nth-child(1),.filter-row>*:nth-child(2), #searchButton {
    width: 100%;
  }
}
/* __________ mobile only __________ */
@media screen and (max-width: 550px) {
  .post {
    width: 100%;
    height: 90vw;
    margin-bottom: var(--padding-size-l);
    box-shadow: 0 3px 13px 3px #26335753;
  }
  .post:nth-child(3) {
    display: block; visibility: visible;
  }
  .slider {width: 100%;margin:0}
  .lt { margin-bottom: var(--padding-size-m); min-height: calc(330px - 8.25vw);}
  .lt h2 {white-space: pre-wrap}
  .lt, .lt>div { width: 100%}
  .l-im { display: none; visibility: hidden}
  #searchButton { margin-top: 4px }
  .categories-content { padding: 0}
  .category {width: 50%}
}
@media screen and (max-width: 350px) {
  .category {width: 100%}
}
