<div class="landing-wrapper unselectable">
  <div class="landing-background"></div>
  <div class="landing">
    <app-map [customStyle]="'color: #fff; opacity: 0.9'" class="desktop"></app-map>

    <div class="slider">
      <div class="sw-p desktop" (click)="prevSlide(13000)"><i class="fas absolute-center fa-arrow-left"></i></div>
      <div class="sw-n desktop" (click)="nextSlide(13000)"><i class="fas absolute-center fa-arrow-right"></i></div>
      <div class="sw-s">
        <div *ngFor="let s of slides; index as i" (click)="slideTo(i)" [ngClass]="i == activeSlide ? 'sw-a': ''"></div>
      </div>
      <div *ngFor="let s of slides" class="row slide" [ngClass]="s.class">
        <div class="lt">
          <div>
            <h2>{{s.title}}</h2>
            <p>{{s.text}}</p>
            <a class="link" routerLink="{{s.linkPath}}">{{s.linkName}} &#8250;</a>
          </div>
        </div>
        <img src="{{s.photo}}" class="l-im" alt="best engines">
      </div>
    </div>

    <div class="search-block">
      <div class="row">
        <h4>Найди свой двигатель</h4><div id="resetFilters" (click)="clearFilters()">сбросить</div>
      </div>
      <div class="row filter-row">
        <div class="input-block">
          <select id="productType" (change)="recount()" class="select" [attr.val]="category" [(ngModel)]="category">
            <option value="" selected> </option>
            <option *ngFor="let c of catalogService.categories">{{c.name}}</option>
          </select>
          <label for="productType">тип двигателя</label>
        </div>
        <div class="input-block">
          <select id="productBrand" class="select" (change)="recount()" [attr.val]="manufacturer" [(ngModel)]="manufacturer">
            <option value="" selected> </option>
            <option *ngFor="let m of catalogService.manufacturers">{{m.name}}</option>
          </select>
          <label for="productBrand">производитель</label>
        </div>
        <div class="input-block">
          <select id="efficency" class="select" (change)="recount()" [attr.val]="efficiency" [(ngModel)]="efficiency">
            <option value=""></option>
            <option value="0-40">< 40%</option>
            <option value="40-60">40% - 60%</option>
            <option value="60-70">60% - 70%</option>
            <option value="70-80">70% - 80%</option>
            <option value="80-90">80% - 90%</option>
            <option value="90-100">> 90%</option>
          </select>
          <label for="efficency">кпд</label>
        </div>
        <div class="input-block">
          <select id="frequency" class="select" [attr.val]="frequency" [(ngModel)]="frequency">
            <option value=""></option>
            <option> < 900</option>
            <option>900 - 1200</option>
            <option>1200 - 2500</option>
            <option>2500 - 3600</option>
          </select>
          <label for="frequency">частота</label>
        </div>

        <a id="searchButton" class="btn btn-primary btn-3d" [ngClass]="counting? 'btn-loading' : ''"
           routerLink="/catalog" [queryParams]="getParams()">
          {{getBtnText()}}
        </a>

      </div>

    </div>
  </div>
</div>

<div class="category-wrapper">
  <div class="categories">
    <h3>Доступные категории</h3>
    <div class="categories-content">
      <app-category class="category"
        *ngFor="let categoryPreview of catalogService.categories.concat(additional)"
        [category]="categoryPreview"
      ></app-category>
    </div>
  </div>
</div>

<div class="news-wrapper">
  <div class="news">
    <h3>Новости</h3>
    <div class="news-content" *ngIf="newsService.postPreviews.length > 0">
      <app-post-main
        *ngFor="let post of newsService.postPreviews"
        [post]="post" class="post"
      ></app-post-main>
    </div>
  </div>
</div>

<app-feedback></app-feedback>
