<div class="landing-wrapper unselectable">
  <div class="landing-background"></div>
  <div class="landing">
    <app-map [customStyle]="'color: #fff; opacity: 0.9'" class="desktop"></app-map>

    <div class="slider" (touchstart)="swipe($event, 'start')" (touchend)="swipe($event, 'end')">
      <div class="sw-p desktop" (click)="prevSlide(13000)"><i class="fas absolute-center fa-arrow-left"></i></div>
      <div class="sw-n desktop" (click)="nextSlide(13000)"><i class="fas absolute-center fa-arrow-right"></i></div>
      <div class="sw-s">
        <div *ngFor="let s of slides; index as i" (click)="slideTo(i)" [ngClass]="i == activeSlide ? 'sw-a': ''"></div>
      </div>
      <div *ngFor="let s of slides" class="row slide" [ngClass]="s.class">
        <div class="lt">
          <div>
            <h2>{{s.title}}</h2>
            <p>{{getSlideText(s)}}</p>
            <a class="link" routerLink="{{s.linkPath}}">{{s.linkName}} &#8250;</a>
          </div>
        </div>
        <img src="{{s.photo}}" class="l-im" alt="best engines">
      </div>
    </div>

    <div class="search-block">
      <div class="row">
        <h4>Найди свой двигатель</h4><div id="resetFilters" (click)="clearFilters()">Сбросить</div>
      </div>
      <div class="row filter-row">
        <div class="input-block">
          <select id="type" (change)="recount()" class="select" [attr.val]="category" [(ngModel)]="category">
            <option value="" selected> </option>
            <option *ngFor="let c of catalogService.categories">{{c.name}}</option>
          </select>
          <label for="type">Тип двигателя</label>
        </div>
        <div class="input-block">
          <select id="ah" class="select" (change)="recount()" [attr.val]="axisHeight" [(ngModel)]="axisHeight">
            <option value="" selected> </option>
            <option *ngFor="let v of ['56', '63', '71', '80', '90', '100', '112', '132', '160', '180']"
                    value="{{v}}"
            >{{v + 'мм'}}</option>
          </select>
          <label for="ah">Высота оси</label>
        </div>
        <div class="input-block">
          <select id="freq" class="select" (change)="recount()" [attr.val]="frequency" [(ngModel)]="frequency">
            <option value=""></option>
            <option value="0-900"> < 900 об/мин</option>
            <option value="900-1200">900 - 1200 об/мин</option>
            <option value="1200-2500">1200 - 2500 об/мин</option>
            <option value="2500-3600">2500 - 3600 об/мин</option>
            <option value="3600-999999"> > 3600 об/мин</option>
          </select>
          <label for="freq">Частота</label>
        </div>
        <div class="input-block">
          <select id="pow" class="select" (change)="recount()" [attr.val]="power" [(ngModel)]="power">
            <option value=""></option>
            <option value="0-1"> < 1 кВт</option>
            <option value="1-3">1 - 3 кВт</option>
            <option value="3-9">3 - 9 кВт</option>
            <option value="9-20">9 - 20 кВт</option>
            <option value="20-99999"> > 20 кВт</option>
          </select>
          <label for="pow">Мощность</label>
        </div>

        <a id="searchButton" class="btn btn-primary btn-3d" [ngClass]="counting? 'btn-loading' : ''"
           routerLink="/catalog" [queryParams]="getParams()">
          {{getBtnText()}}
        </a>

      </div>
    </div>
  </div>
</div>

<div class="category-wrapper">
  <div class="categories">
    <h3>Доступные категории</h3>
    <div class="categories-content">
      <app-category class="category" *ngFor="let categoryPreview of catalogService.categories"
        [category]="categoryPreview" [isSeparate]="false"></app-category>
      <app-category class="category" *ngFor="let categoryPreview of additional"
        [category]="categoryPreview" [isSeparate]="true"></app-category>
    </div>
  </div>
</div>

<div class="content-wrapper p-wrap">
  <div class="content">
    <h3>Партнёры</h3>
    <div class="row">
      <div *ngFor="let p of ['0.jpg', '1.jpg', '2.png', '3.png', '4.svg'];" class="partner">
        <img src="assets/partners/p{{p}}" alt="партнер">
      </div>
    </div>
  </div>
</div>

<div class="news-wrapper" *ngIf="newsLoaded">
  <div class="news">
    <h3>Новости</h3>
    <div class="news-content" *ngIf="postPreviews.length > 0">
      <app-post-main *ngFor="let post of postPreviews" [post]="post" class="post"></app-post-main>
    </div>
  </div>
</div>

<app-feedback></app-feedback>
