.content {
  padding-bottom: var(--padding-size-m);
}
.department {
  border: 1px solid #d8dde9;
  background-color: #f6f8fa;
  border-radius: 6px;
  margin-bottom: var(--padding-size-m);
  padding-bottom: 0;
  display: block;
}
