<div class="content-wrapper">
  <div class="content">
    <app-map class="desktop"></app-map>

    <div class="with-columns">
      <div class="main">
        <h3 class="unselectable">Моя корзина <span *ngIf="chartService.items.length > 0">({{chartService.items.length}})</span></h3>
        <div class="item" *ngFor="let item of chartService.items">
          <a class="item-body" routerLink="/catalog/{{item.item.id}}">
            <div class="item-image" [style]="getPhotoStyle(item.item.photo)"></div>
            <div class="item-info">
              <h5 class="name">{{item.item.name}}</h5>
              <div class="manuf">{{item.item.manufacturer}}</div>
              <div class="type">{{item.item.type.name}}</div>
            </div>
          </a>
          <div class="price-block">
            <div class="price">{{item.item.price}} ₽</div>
            <div class="count-block unselectable">
              <div>
                <div class="counter" (click)="less(item)" [ngClass]="item.amount < 1 ? 'disabled' : ''">-</div>
                <div class="amount">{{item.amount}}</div>
                <div class="counter" (click)="more(item)">+</div>
              </div> шт
            </div>
          </div>
        </div>
      </div>
      <div class="buy-block" *ngIf="!chartService.loading && chartService.items.length > 0">
        <div class="final-price">
          Итоговая цена:<span> {{getFinalPrice()}}₽</span>
        </div>
        <div class="btn btn-primary btn-3d unselectable" (click)="submit()">
          оформить заказ <i class="fas fa-file-invoice-dollar"></i>
        </div>
      </div>
    </div>

    <div class="empty unselectable" *ngIf="!chartService.loading && chartService.items.length == 0">
      <div class="empty-image"></div>
      <div class="empty-text">Ваша корзина пуста</div>
      <a class="underlined" routerLink="/catalog">перейти в каталог</a>
    </div>

  </div>
</div>
