.category-image {
  width: 100%;
  overflow: hidden;
  display: flex; justify-content: center;
}
.category-image> img {
  height: calc(90px + 4.5vw);
  padding: 5px;
  transition: 0.2s;
}
.category-name {
  font-weight: bold;
  color: var(--primary-color);
  width: 100%;overflow: hidden;
  display: flex;
  min-height: var(--input-height);
  margin-bottom: 3px;
  text-align: center;
  justify-content: center;
}
.category-name> div {
  margin: auto; word-break: break-word;
}
.category-description {
  font-size: calc(12px + 0.3vw);
  opacity: 0.5;
  text-align: center;
}
@media screen and (max-width: 550px) {
  .category-name {height: unset}
}
