.department-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: var(--padding-size); cursor: pointer;
}
.department-name {
  color: var(--primary-color-dark);
  opacity: 0.8; padding-right: 10px;
}
.department-shower { font-weight: bold; cursor: pointer; opacity: 0.4; white-space: nowrap;}
.department-header:hover> .department-shower { opacity: 0.6;}
.department-shower i { margin-left: 6px; transition: 0.2s; transform: rotate(180deg); }
.opened i { transform: rotate(0deg); }
.with-columns {
  flex-wrap: wrap;
  overflow: hidden;
  height: 0;
}
.with-columns.opened { height: unset}
.contact {
  margin-bottom: var(--padding-size);
  margin-right: var(--padding-size);
  padding: var(--padding-size);
  width: calc(33% - var(--padding-size));
}
.contact-name {
  font-weight: 500;
}
.contact-post {
  opacity: 0.7; line-height: 0.9;
  font-size: calc(11px + 0.275vw);
  margin-bottom: 9px;
}
.contact-phone {
  padding: 1px;
  margin-bottom: 1px;
}
.contact i {
  transform: translateX(-8%) scale(0.85);
  margin-right: 3px;
  opacity: 0.4;
}
a { color: var(--primary-color)}

.department-shower {
  float: right;
}

@media screen and (max-width: 700px) {
  .contact {
    width: calc(50% - var(--padding-size));
  }
}
/* __________ mobile only __________ */
@media screen and (max-width: 420px) {
  .contact {
    margin-right: 0;
    width: 100%;
  }
}
