
  <div class="department-header unselectable" (click)="opened = !opened">
    <h6 class="department-name">{{department.name}}</h6>
    <div class="department-shower" [ngClass]="{'opened': opened}">
      <span>{{getStateString()}}</span>
      <i class="fas fa-chevron-up"></i>
    </div>
  </div>

  <div class="with-columns" [ngClass]="{'opened': opened}">
    <div class="contact" *ngFor="let contact of department.contacts">
      <div class="contact-name">{{contact.name}}</div>
      <div class="contact-post" *ngIf="contact.position!=null">{{contact.position}}</div>
      <div class="contact-phone" *ngFor="let phone of contact.phones">
        <i class="fas fa-phone-alt"></i>
        <a class="link" href="tel: {{phone.phone}}">{{phone.phone}}</a>
        <span class="unselectable"> {{phone.label}}</span>
      </div>
      <div class="contact-phone" *ngFor="let mail of contact.mails">
        <i class="fas fa-envelope"></i>
        <a class="link" href="mailto: {{mail}}">{{mail}}</a>
      </div>
    </div>
  </div>
