:host {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: #444;
  background: #fbfcff;
}

@keyframes gear-anim {
  0% { transform: rotate(0deg) }
  100% { transform: rotate(1800deg) }
}
@keyframes overlay-anim {
  0% { opacity: 1; }
  100% { opacity: 0; z-index: -1; visibility: hidden; display: none; }
}
#loadingOverlay {
  position: absolute; top: 0; left: 0;
  width: 100vw; height: 100vh;
  background-color: var(--primary-color);
  z-index: 15;
  animation: overlay-anim 0.3s 3.2s linear forwards;
}
#loadingOverlay>div {
  bottom: 50%; left: 50%; position: fixed;
  transform: translate(-50%, 50%);
  color: #fff;
  text-align: center;
}
.gear, .lightning {
  width: calc(100px + 2.5vw);
  height: calc(100px + 2.5vw);
}
.lightning {
  position: absolute; left: 50%; top: 0;
  transform: translateX(-50%) scale(1.2) rotate(-10deg);
  filter: drop-shadow(1px 1px 6px var(--primary-color-dark));
}
.gear {
  animation: gear-anim 3s cubic-bezier(0, 0.32, 0.43, 1)
}
