<div [ngClass]="{'menu-active': menuService.menuActive}"
     class="header-top-wrapper unselectable">
    <div class="header-top">
      <a class="logo" routerLink="/">
        <img src="/assets/logo.png" alt="МЭЗ" class="header-top-item">
      </a>
      <div class="right-block">
        <a class="header-top-item" routerLink="/" (click)="hideMenu()">
          Главная
        </a>
        <a class="header-top-item" routerLink="/catalog" (click)="hideMenu()">
          Каталог
        </a>
        <a class="header-top-item" routerLink="/about" (click)="hideMenu()">
          О нас
        </a>
        <a class="header-top-item" routerLink="/contacts" (click)="hideMenu()">
          Контакты
        </a>
        <div *ngIf="authService.isAuthorised()" class="header-top-item user">
          <span>{{authService.getUserName()}}</span>
          <div class="user-image" style="{{authService.getUserImageStyle()}}">{{authService.getFirstChar()}}</div>
        </div>
        <div *ngIf="!authService.isAuthorised()" class="header-top-item" id="authButton">
          <i class="fas fa-user"></i> вход | регистрация
        </div>
      </div>
    </div>
  </div>
<div [ngClass]="{'menu-active': menuService.overlayActive()}" class="menu-overlay" (click)="menuService.hideAll()"></div>
<div class="header-bottom-wrapper">
    <div id="menuButton" (click)="menuService.toggleMenu()" [ngClass]="{'active': menuService.menuActive}">
      <div></div><div></div><div></div>
    </div>
    <a routerLink="/" (click)="hideMenu()"><img src="/assets/logoWhite.png" alt="МЭЗ" class="logo-mobile header-bottom-item"></a>
    <div class="header-bottom" [ngClass]="{'search': searchActive}">
      <div class="search-block header-bottom-item" (click)="hideMenu()">
        <label for="search-input" class="search-input-label">
          <i class="fas fa-search"></i>
        </label>
        <input type="text" autocomplete="off"
               id="search-input" placeholder="поиск"
               (focus)="focusSearch()" (blur)="blurSearch()">
      </div>
      <div class="right-block unselectable">
        <div class="header-bottom-item" onclick="goTo('contactBlock')">
          <i class="fas fa-comment-alt"></i><span> написать нам</span>
        </div>
        <div class="header-bottom-item">
          <i class="fas fa-shopping-cart"></i><span> корзина</span>
        </div>
      </div>
    </div>
  </div>
