.header-top-wrapper, .header-bottom-wrapper {
  position: relative;
  width: 100vw;
  font-weight: 500;
}
.header-top-wrapper {
  height: var(--header-top-height);
  background: #fff;
  color: var(--primary-color);
  font-size: calc(13px + 0.325vw);
}
.header-bottom-wrapper {
  height: var(--header-bottom-height);
  background: var(--primary-color);
  color: #fff;
}
.header-top, .header-bottom {
  position: absolute;
  top: 0; left: 50%;
  transform: translateX(-50%);
  width: 100%;
  max-width: var(--content-size);
  padding: 0 var(--padding-size-m);
  /*overflow: hidden;*/
}
.header-top { height: var(--header-top-height); z-index: 10 }
.header-bottom { height: var(--header-bottom-height); }

.header-bottom-item, .header-top-item {
  padding: 0 var(--padding-size-m);
  cursor: pointer;
  display: block;
  position: relative;
  white-space: nowrap;
}
.header-bottom-item {
  height: var(--header-bottom-height);
  line-height: var(--header-bottom-height);
}
.header-top-item {
  height: var(--header-top-height); position: relative;
  line-height: var(--header-top-height);
}
.header-top-item::after {
  content: "";
  position: absolute;
  bottom: calc(3px + 5%);
  border-radius: 3px;
  height: 3px;
  width: calc(100% - var(--padding-size-m)*1.5);
  background: var(--accent-color-light);
  left: 50%;
  transform: translateX(-50%) scaleX(0);
  transition: 0.2s;
}
.header-top-item:hover::after {
  transform:  translateX(-50%);
}
.drop-menu {
  position: absolute; top: 100%; left: 0;
  background-color: #fff; z-index: 15; display: block;
  border-bottom-right-radius: 4px; border-bottom-left-radius: 4px;
  box-shadow: 2px 5px 4px 1px #1b213f42; overflow: hidden;
}
.drop-menu> a {
  width: 100%; line-height: 1.1;
  padding: var(--padding-size-m); position: relative;
  padding-right: var(--padding-size-xl);
  display: block; white-space: initial;
  border-bottom: 1px dotted #8998ae;
}
.drop-menu> a::after {
  content: ">"; position: absolute;
  opacity: 0; right: var(--padding-size-m); top: 50%;
  transform: translateY(-55%) scaleY(1.5);
}
.drop-menu> a:hover::after {opacity: 1}
.drop-menu> a:hover {
  background-color: var(--primary-color);
  color: #fff;
}
.drop-menu> a:last-child {border-bottom: none}
.header-bottom-item::after {
  content: "";
  position: absolute;
  top: 50%; left: 0;
  border-radius: 7px;
  height: 75%; width: 100%;
  background: #212e559c;
  transform: translateY(-50%) scale(0) ;
  opacity: 0.5;
  transition: 0.2s;
  z-index: -1;
}
.header-bottom-item:hover::after {
  transform: translateY(-50%);
  opacity: 1;
}
.logo {
  transform: translateX(-10%) scale(0.8);
  position: absolute;
}
.search-block, .logo {
  float: left;
}
.search-block::after, .logo::after, .user::after {
  content: none;
}
.user {
  display: flex; align-items: center;
  text-transform: capitalize; color: #333;
  font-weight: bold;
}
.user> span {
  text-overflow: ellipsis;
  overflow: hidden;
  max-width: calc(var(--menu-width)*0.85 - 60px - 3vw)
}
.user> div {
  width: calc(var(--header-top-height) * 0.8);
  height: calc(var(--header-top-height) * 0.8);
  line-height: calc(var(--header-top-height) * 0.8);
  border-radius: 50%; color: #fff;
  text-align: center;
  background-size: cover;
  background-color: var(--green-color);
  margin-left: calc(var(--padding-size-m)*0.5);
}

.right-block {
  float: right;
  display: flex;
}
.search-block {
  position: relative; transition: 0.2s;
}
#search-input {
  border: none!important;
  outline: none!important;
  width: var(--search-width);
  height: var(--input-height);
  line-height: var(--input-height);
  border-radius: 6px;
  padding: 0 var(--padding-size-m);
  background: #242c477c;
  box-shadow: inset 3px 3px 4px #161f3777, 3px 2px 5px 0 #4e64a38a;
  color: #eee;
  font-size: calc(13px + 0.325vw);
}
#search-input:hover {
  background: #16203d7d;
}
#search-input::placeholder {
  color: #ffffffaa;
  font-weight: 500;
  font-size: calc(13px + 0.325vw);
  line-height: calc(var(--header-top-height) * 0.8);
}
.search-input-label {
  color: #ffffffaa;
  position: absolute;
  right: calc(var(--padding-size-m) * 1.5);
}

/* __________ PC only __________ */
@media screen and (min-width: 551px) {
  #menuButton, .logo-mobile {
    display: none; visibility: hidden;
  }
  .header-top, .header-bottom {
    padding-right: calc(var(--padding-size-m)*2);
  }
  #search-input:focus {
    color: var(--primary-color);
    background: #fff;
    box-shadow: none;
  }
  #search-input:focus::placeholder {
    color: var(--primary-color)
  }
}
@media screen and (max-width: 900px) {
}
@media screen and (max-width: 660px) {
}
/* __________ mobile only __________ */
@media screen and (max-width: 550px) {
  .header-bottom-wrapper {
    position: sticky;
    top: 0;
    z-index: 10;
  }
  .header-bottom {
    left: unset; right: 0;
    width: calc(var(--header-bottom-height)*3 + var(--padding-size-m)*2);
    transform: none; transition: 0.2s;
    background-color: var(--primary-color);
    z-index: 10;
  }
  .header-top {position: relative; height: unset; width: 100%; padding: 0}
  .header-top> .right-block {
    display: flex; flex-direction: column;
    float: unset;
  }
  .header-top-wrapper {
    position: fixed;
    top: var(--header-bottom-height);
    height: calc(100vh - var(--header-bottom-height));
    width: var(--menu-width);
    z-index: 10;
    transform: translateX(-101%);
    transition: transform 0.2s;
  }
  #search-input {
    box-shadow: none;
    width: var(--header-bottom-height);
    opacity: 0; transition: width, opacity 0.4s;
  }
  #menuButton {
    height: calc(var(--header-top-height) * 0.6);
    width: calc(var(--header-top-height) * 0.6);
    position: absolute;
    top: 50%; transform: translateY(-50%);
    left: var(--padding-size-m);
    z-index: 2;
  }
  #menuButton> div {
    position: absolute;
    width: 100%;
    height: 3px;
    background: #fff;
    transition: 0.2s;
    transform: translateY(-50%);
    border-radius: 3px;
  }
  #menuButton>div:nth-child(1) { top: 15%; }
  #menuButton>div:nth-child(2) { top: 50%; }
  #menuButton>div:nth-child(3) { top: 85%; }
  #menuButton.active> div { top: 50%; transform: translateY(-50%) rotate(-45deg); }
  #menuButton.active> div:nth-child(1) { top: 50%; transform: translateY(-50%) rotate(45deg); }
  .header-top-wrapper.menu-active { transform: none }

  .menu-overlay {
    position: fixed;
    background-color: #0000303d;
    transition: opacity 0.2s;
    height: calc(100vh - var(--header-bottom-height));
    width: 100vw;
    top: var(--header-bottom-height); right: 0;
    transform: translateX(101%);
    z-index: 9; opacity: 0;
  }

  .menu-overlay.menu-active { opacity: 1; transform: none }

  .header-bottom-item {
    width: var(--header-bottom-height);
    text-align: center;
    padding: 0;
  }
  .header-bottom-item i { transform: scale(1.4); color: #fff }
  .header-bottom-item span { display: none }

  .logo { display: none; visibility: hidden}
  .logo-mobile {
    position: absolute;
    transform: translateX(-17.5%) scale(0.65);
    left: var(--header-bottom-height);
    width: unset;
  }
  .header-top-item {
    font-size: calc(17px + 0.425vw);
    height: var(--header-bottom-height);
    line-height: var(--header-bottom-height);
    border-bottom: 1px dashed var(--primary-color-light);
  }

  .header-bottom.search, .search> .search-block, .search #search-input {
    width: 100%; opacity: 1;
  }
  .user {
    order: -1; height: unset;
    padding: var(--padding-size-m);
    align-items: flex-start;
  }
  .user> div {
    width: calc(50px + 2.5vw);
    height: calc(50px + 2.5vw);
    line-height: calc(50px + 2.5vw);
    margin-left: 0;
    margin-right: var(--padding-size-m);
    border-radius: 9px;
    order: -1;
  }
  .user> span {
    line-height: 1.5;
  }
}
@media screen and (max-width: 320px) {
  .logo-mobile {display: none;}
}
