<div class="content-wrapper">
  <div class="background">
    <video id="vid" autoplay="" muted="" playsinline="" loop="">
      <source src="/assets/video.mp4" type="video/mp4">
    </video>
    <div class="overlay"></div>
  </div>
  <div class="content unselectable landing">
    <app-map [customStyle]="'color: #fff; opacity: 0.9'" class="desktop"></app-map>
    <div class="landing-text">
      <h2>БОЛЕЕ
        <span id="years">5 ЛЕТ</span>
        ОПЫТА ОБСЛУЖИВАНИЯ И ПРОДАЖ ЭЛЕКТРОДВИГАТЕЛЕЙ
        <svg class="lightning"
             xmlns="http://www.w3.org/2000/svg" width="512" height="512" viewBox="0 0 512 512"><path fill="#f53a48" d="M423.158 8.663l-236.79 189.379 87.275 4.495-137.063 126.781 80.384-10.414-128.133 184.433 298.527-249.058-90.419-1.679 122.818-109.2-91.658-1.3z"/>
        </svg>
      </h2>
    </div>
  </div>
</div>

<div class="content-wrapper about">
  <div class="content">
    <div class="with-columns">
      <div class="text">
        <h2 class="decor">Кто мы</h2>
        <h3>Официальный диллер ОАО «Могилевлифтмаш»</h3>
        <p>Научно-Производственное Объединение «МЭЗ» является официальным представителем Могилевского завода «Электродвигатель», который в 2019 году вошел в состав Могилевлифтмаш.</p>
        <p>Мы сотрудничаем с крупнейшими предприятиями по производству электродвигателей на территории России и стран Таможенного союза. Что позволяет нам четко соблюдать сроки поставки и оперативно решать все поставленные перед нашим коллективом задачи.</p>
      </div>
      <div class="image">
        <img class="certificate" src="../../../assets/photos/certificate.jpg" alt="">
      </div>
    </div>
  </div>
</div>

<div class="content-wrapper why">
  <div class="content">
    <h2>Почему МЭЗ?</h2>
    <p>Мы не просто продаем электродвигатели и сопутствующие товары, мы стремимся как можно быстрее предоставить вам лучший продукт для работы. Мы знаем, что сломанный двигатель может означать потерю дохода, простои сотрудников, испорченные продукты и поздние поставки.</p>
    <div class="row">
      <div class="with-columns">
        <div id="days" #days>0</div>
        <div class="counter-label">дней опыта продаж и качественеого обслуживания</div>
      </div>
      <div class="with-columns">
        <div id="engines" #engines>0</div>
        <div class="counter-label">проданных двигателей на территории томоженного союза</div>
      </div>
      <div class="with-columns">
        <div id="clients"#clients>0</div>
        <div class="counter-label">хорошо обслуженных клиентов и партнёров</div>
      </div>
    </div>
    <h3>Присоединяйтесь к нам и воспользуйтесь всеми преимуществами работы с нами!</h3>
  </div>
</div>

<div class="content-wrapper work">
  <div class="content">
    <div class="with-columns">
      <div class="text">
        <h2>Наша специализация</h2>
        <p>Основным направлением компании ООО НПО «МЭЗ» является поставка  электродвигателей общепромышленного и специального назначения, а так же мотор-редукторов.</p>
        <p>ООО НПО «МЭЗ», имея штат высококлассных специалистов, может решить любую Вашу проблему в области поставки электродвигателей и мотор-редукторов, в том числе заменить дорогостоящие импортные электродвигатели таких производителей как Simens, Leroy Somer, ABB, Weg, Schneider Electric и т.д. на аналоги отечественных производителей без потери качества и гарантийного срока.</p>
      </div>
      <div class="canvas">
        <canvas #canvas></canvas>
      </div>
    </div>
  </div>
</div>

<app-feedback></app-feedback>
