<div class="catalog-content">
    <div *ngIf="!catalogLoaded" class="catalog-loader-overlay"></div>
    <app-engine class="item"
      *ngFor="let engine of catalogService.engines"
      [engine]="engine"
    ></app-engine>
  </div>
  <div class="catalog-footer">
    <div class="page active-page">1</div>
    <div class="page">2</div>
    <div class="page">3</div>
    <div class="page">4</div>
    <div class="page">5</div>
    <div class="page transparent">...34</div>
    <div class="page">next ›</div>
  </div>
