<a routerLink="/catalog/{{getLink()}}">
  <div class="item-image">
    <div style="{{getPhotoCss()}}"></div>
  </div>
  <div class="item-name-block">
    <div class="item-provider">{{ engine.manufacturer }}</div>
    <div class="item-name">{{ engine.name }}</div>
    <div class="item-type">{{ engine.type }}</div>
  </div>
  <div class="item-info" *ngIf="engine.characteristics.length > 0">
      <div>
        <div class="param-name">P</div><div class="param-value">{{ getPower() }} кВт</div>
      </div>
      <div>
        <div class="param-name">частота номинальная</div><div class="param-value">{{ getFrequency() }} об/мин</div>
      </div>
      <div>
        <div class="param-name">кпд</div><div class="param-value">{{ getEfficiency() }} %</div>
      </div>
      <div>
        <div class="param-name">масса</div><div class="param-value">{{ engine.mass }} кг</div>
      </div>
  </div>
  <div class="item-price-block">
    <div>от {{ engine.minPrice }}₽</div>
    <div><i class="fas fa-check"></i> в наличии</div>
  </div>
</a>
