<a routerLink="news/{{post.id}}" class="post" [ngClass]="isLight ? 'light' : ''" [style]="'background-color: ' + color">
  <div class="b" [style]="getCssPhoto()"></div>
  <div class="overlay" [style]="getOverlayStyle()"></div>
  <div class="date" [style]="'background-color: ' + color">{{post.date}}</div>
  <div class="desc" [style]="getDescriptionStyle()">
    <h5 class="title">{{post.title}}</h5>
    <div class="text">{{getText()}}</div>
    <div class="v"><i class="fas fa-eye"></i> {{post.views}}</div>
  </div>
</a>
