:root {
  --post-content-height: 250px
}
.post:hover .post-title, .post:hover .post-open {
  color: var(--accent-color);
  opacity: 1;
}
.post-header {
  margin-bottom: var(--padding-size-m);
  font-weight: 500;
}
.post-date {
  opacity: 0.5;
}
.label {
  border-radius: 5px;
  border: 1px solid #aaa;
  opacity: 0.5;
  padding: 4px var(--padding-size-m);
  padding-top: 3px;
}
.post-title {
  font-size: calc(16px + 0.4vw);
  font-weight: bold;
  margin: var(--padding-size-m) 0;
  transition: 0.2s; text-decoration: none!important;
}
.post-text-wrapper {
  margin: calc(var(--padding-size-m)*2) 0;
  height: 150px; overflow: hidden;
  display: flex; align-items: center;
}
.post-open {
  transition: 0.2s;
  font-weight: 500;
  opacity: 0.5;
}

@media screen and (max-width: 550px){
  .post-title, .post-open {
    opacity: 1;
    color: var(--accent-color);
  }
}
