.pad {
  padding: 0 var(--padding-size-m);
}
.posts {
  display: flex;
  width: 100%; justify-content: space-between;
  flex-wrap: wrap; margin-bottom: var(--padding-size-xl);
}

.post {
  border-radius: 6px; border: 2px solid #999da09d;
  padding: var(--padding-size-m);
  background-color: #fff;
  display: block;
  box-shadow: 0 3px 7px 0 #26335724;
  transition: 0.2s;
  width: calc(33.3% - var(--padding-size-s));
  margin-bottom: var(--padding-size-l);
}
.post:hover {
  transform: scale(1.01); border-color: var(--accent-color-light);
  box-shadow: 0 3px 7px 3px #26335733;
}
@media screen and (max-width: 800px) {
  .post {
    width: calc(50% - var(--padding-size-s));
  }
}
@media screen and (max-width: 550px) {
  .post {
    width: 100%;
    box-shadow: 0 3px 13px 3px #26335753;
  }
}
