.footer-bottom-wrapper, .footer-top-wrapper {
  position: relative;
  width: 100vw;
  background-color: var(--primary-color-dark);
}
.footer-bottom, .footer-top {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  flex-wrap: wrap;
  width: 100%;
  max-width: var(--content-size);
  padding: var(--padding-size-m);
  padding-right: calc(var(--padding-size-m)*2);
  margin: 0 auto;
  color: #eeeeeecc;
}
.footer-col {
  margin: var(--padding-size-m) 0;
  min-width: calc(100px + 5vw);
  max-width: calc(200px + 10vw);
  padding: var(--padding-size-m);
}
.footer-col> h5 {
  opacity: 0.7; user-select: none;
  margin-bottom: var(--padding-size-m);
}
.footer-top-wrapper { background-color: var(--primary-color); padding: var(--padding-size-m)}
.footer-top { color: #fff; justify-content: center; align-items: center }
.footer-top span {font-weight: bold; font-size: calc(16px + 0.4vw); white-space: nowrap; margin-right: var(--padding-size-m)}
.footer-top span> i {margin: 0 7px; }
.terms-block {
  width: 100%;
  max-width: var(--content-size);
  padding: var(--padding-size-m);
  padding-right: calc(var(--padding-size-m)*2);
  margin: 0 auto;
  color: #eeeeee99;
  font-size: calc(8px + 0.6vw);
}
.terms-block> div { margin: var(--padding-size-m) 0 }
.terms-block a { margin: 0 5px; }
.terms-block img {
  height: var(--header-bottom-height);
  transform: translateX(12%) scale(0.65);
  float: right; opacity: 0.7;
}
.terms-block> div:first-child {
  border-bottom: 1px solid #eeeeee88;
  justify-content: flex-end;
}
h5 i { font-size: calc(13px + 0.325vw)}
