/* ________ CONTACT BLOCK __________*/
.contact-block-wrapper {
  width: 100%;
  background-color: #f5f6fb;
  padding-bottom: var(--padding-size);
}
.contact-block {
  padding: calc(var(--padding-size)*2);
  margin: 0 auto;
  max-width: var(--content-size);
  width: 100%;
  flex-wrap: wrap;
  align-items: center;
}
.contact-form {
  max-width: 100%;
  width: var(--form-width);
  padding: var(--padding-size);
}
.contact-form> .form {
  padding: calc(var(--padding-size)*1.3) var(--padding-size);
  background: #fff;
  border-radius: 6px;
  box-shadow: 6px 6px 20px 6px #2633575e;
  border-top: 4px solid var(--primary-color);
}
.contact-form input {
  margin-bottom: calc(var(--padding-size)*0.6);
}
.contact-form textarea {
  min-height: calc(var(--header-top-height)*2);
  margin-bottom: var(--padding-size);
  max-width: 100%;
  min-width: 100%;
}
.contact-text {
  max-width: 100%;
  width: calc(100% - var(--form-width));
  padding: var(--padding-size);
  font-style: italic;
}
.form .label {
  font-size: calc(10px + 0.25vw);
  margin-right: var(--padding-size);
}

.footer-bottom-wrapper, .footer-top-wrapper {
  position: relative;
  width: 100vw;
  background-color: var(--primary-color-dark);
}
.footer-bottom, .footer-top {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  flex-wrap: wrap;
  width: 100%;
  max-width: var(--content-size);
  padding: var(--padding-size);
  padding-right: calc(var(--padding-size)*2);
  margin: 0 auto;
  color: #eeeeeecc;
}
.footer-col {
  margin: var(--padding-size) 0;
  min-width: calc(100px + 5vw);
  max-width: calc(200px + 10vw);
  padding: var(--padding-size);
}
.footer-col> h5 {
  opacity: 0.7; user-select: none;
  margin-bottom: var(--padding-size);
}
.footer-top-wrapper { background-color: var(--primary-color); padding: var(--padding-size)}
.footer-top { color: #fff; justify-content: center; }
.footer-top span {font-weight: bold; font-size: calc(16px + 0.4vw)}
.terms-block {
  width: 100%;
  max-width: var(--content-size);
  padding: var(--padding-size);
  padding-right: calc(var(--padding-size)*2);
  margin: 0 auto;
  color: #eeeeee99;
  font-size: calc(8px + 0.6vw);
}
.terms-block> div { margin: var(--padding-size) 0 }
.terms-block a { margin: 0 5px; }
.terms-block img {
  height: var(--header-bottom-height);
  transform: translateX(12%) scale(0.65);
  float: right; opacity: 0.7;
}
.terms-block> div:first-child {
  border-bottom: 1px solid #eeeeee88;
  justify-content: flex-end;
}
h5 i { font-size: calc(13px + 0.325vw)}

/* __________ PC only __________ */
@media screen and (min-width: 551px) {
}
@media screen and (max-width: 900px) {
}
@media screen and (max-width: 660px) {
  .contact-text, .contact-form { width: 100% }
  .contact-block { padding: calc(var(--padding-size)*3) var(--padding-size) }
}
/* __________ mobile only __________ */
@media screen and (max-width: 550px) {
}
