.footer-bottom-wrapper, .footer-top-wrapper {
  position: relative;
  width: 100vw;
  background-color: var(--primary-color-dark);
}
.footer-bottom-wrapper {
  box-shadow: 0 -1px 0 0 var(--primary-color-dark);
}
.footer-bottom, .footer-top {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  flex-wrap: wrap;
  width: 100%;
  max-width: var(--content-size);
  padding: var(--padding-size-m);
  padding-right: calc(var(--padding-size-m)*2);
  margin: 0 auto;color: #ffffff;
}
.footer-col {
  margin: var(--padding-size-m) 0; font-weight: lighter;
  width: 33%; padding: var(--padding-size-m);
}
.footer-col i {
  color: #888899; margin-right: 5px;
  min-width: calc(15px + 0.375vw); text-align: center;
}
.footer-col> div> div {
  flex-wrap: nowrap; display: flex; word-break: break-word; align-items: baseline;
  margin: 7px 0; line-height: 1;
}
.footer-col> h5 {
  color: #fff; user-select: none; line-height: 1;
  margin-bottom: var(--padding-size-l);
}
.socials {
  display: flex; color: #cccce3bb;
}
.s svg {
  width: calc(var(--input-height)*0.65);
  height: calc(var(--input-height)*0.65);
}
.s {transition: 0.2s cubic-bezier(0, 0.99, 0.19, 2); cursor: pointer; margin-right: var(--padding-size-m)}
.s:hover {transform: scale(1.1);color: #fff}

.footer-top-wrapper { background-color: var(--primary-color); padding: var(--padding-size-m)}
.footer-top {
  color: #fff;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}
.footer-top span {font-family: 'Etelka Medium Pro', sans-serif;font-weight: bold; font-size: calc(16px + 0.4vw); white-space: nowrap; margin-right: var(--padding-size-m)}
.footer-top span> i {margin: 0 7px; }
.terms-block {
  width: 100%;
  max-width: var(--content-size);
  padding: var(--padding-size-m);
  padding-right: calc(var(--padding-size-m)*2);
  margin: 0 auto;
  color: #eeeeee99;
  font-size: calc(8px + 0.6vw);
}
.terms-block> div { margin: var(--padding-size-m) 0 }
.terms-block a { margin: 0 5px; }
.terms-block img {
  height: var(--header-bottom-height);
  transform: translateX(12%) scale(0.65);
  float: right; opacity: 0.7;
}
.terms-block> div:first-child {
  border-bottom: 1px solid #eeeeee88;
  justify-content: flex-end;
}
h5 i { font-size: calc(13px + 0.325vw)}

@media screen and (max-width: 550px) {
  .footer-col {
    width: 100%;
  }
}
