<div class="content-wrapper">
  <div class="content">
    <app-map [style]="'height: unset'" class="desktop"></app-map>
    <div class="content-header unselectable">
      <div class="goods-title" >{{title}} </div>
      <div id="filtersBtn" class="btn" (click)="menuService.showFilters()"><i class="fas fa-sliders-h"></i> фильтры</div>
      <div class="goods-count" *ngIf="catalogService.catalogLoaded"> ({{catalogService.quantity}} шт.) </div>
      <div class="sort-block">
        <label for="sortBy" class="sort-by-label">сортировать по: </label>
        <select id="sortBy" [(ngModel)]="catalogService.orderBy"
                (change)="catalogService.loadEngines(false)">
          <option value="engines.name DESC" selected>алфавиту</option>
          <option value="engines.priceLapy ASC">цене (сначала дешевые)</option>
          <option value="engines.priceLapy DESC">цене (сначала дорогие)</option>
        </select>
      </div>
    </div>
    <div class="content-main">


      <div class="content-filters unselectable" [ngClass]="{'active': menuService.filterMenuActive}">
        <div *ngFor="let filter of catalogService.filters"
             class="filter-block" [ngClass]="{'opened': filter.opened}" id="f{{filter.name}}">
            <div class="filter-name" (click)="toggleFilterBlock(filter)">
              {{filter.name}}
              <i class="fas fa-chevron-up"></i>
            </div>
          <div class="filter-options">
            <div *ngFor="let option of filter.options">
              <input
                type="checkbox"
                id="{{option.name}}"
                [(ngModel)]="option.selected"
                (change)="refreshAll(false)">
              <label for="{{option.name}}">{{option.name}}</label>
            </div>
          </div>
        </div>
        <div class="removeFilters" (click)="restorePage()">сбросить фильтры</div>
      </div>

      <div class="catalog">
        <div class="catalog-content">
          <div *ngIf="!catalogService.catalogLoaded" class="catalog-loader-overlay"></div>
          <app-engine class="item"
                      *ngFor="let engine of catalogService.engines"
                      [engine]="engine"
          ></app-engine>
          <div class="unselectable empty" *ngIf="catalogService.catalogLoaded && catalogService.engines.length == 0">
            <div class="empty-image"></div>
            <div class="empty-text">Ничего не найдено
              <span *ngIf="catalogService.search.length > 0">
                по запросу "{{catalogService.search}}"
              </span> :c
            </div>
          </div>
        </div>

        <div class="catalog-footer unselectable" *ngIf="catalogService.quantity > 0">
          <div class="page" *ngIf="catalogService.page > 1" (click)="switchPage(catalogService.page - 1)">‹ назад</div>
          <div class="page" *ngIf="catalogService.page != 1" (click)="switchPage(1)">1</div>
          <div class="page transparent" *ngIf="catalogService.page >= 5">...</div>
          <div class="page" *ngIf="catalogService.page >= 4" (click)="switchPage(catalogService.page - 2)">{{catalogService.page - 2}}</div>
          <div class="page" *ngIf="catalogService.page >= 3" (click)="switchPage(catalogService.page - 1)">{{catalogService.page - 1}}</div>
          <div class="page active-page" *ngIf="catalogService.page >= 1">{{catalogService.page}}</div>
          <div class="page" *ngIf="catalogService.page <= catalogService.totalPages - 2" (click)="switchPage(catalogService.page + 1)">{{catalogService.page + 1}}</div>
          <div class="page" *ngIf="catalogService.page <= catalogService.totalPages - 3" (click)="switchPage(catalogService.page + 2)">{{catalogService.page + 2}}</div>
          <div class="page transparent" *ngIf="catalogService.totalPages > 5" (click)="switchPage(catalogService.totalPages)">...{{catalogService.totalPages}}</div>
          <div class="page" *ngIf="catalogService.page < catalogService.totalPages" (click)="switchPage(catalogService.page + 1)">вперед ›</div>
        </div>
      </div>

    </div>
  </div>
</div>

<app-feedback></app-feedback>
