.content-header {
  display: flex;
  position: sticky;
  top: 0; background-color: var(--background-color);
  padding: var(--padding-size);
  margin-top: calc(var(--padding-size)*0.5);
  border-bottom: 1px solid #88888877;
  align-items: flex-end;
  z-index: 8;
}
.goods-title {
  font-size: calc(20px + 0.5vw);
  font-weight: bold;
  padding-right: calc(6px + 0.3vw);
}
.goods-count {
  font-size: calc(16px + 0.4vw);
  color: #77777788;
  font-weight: 500;
}
.sort-block {
  position: absolute;
  right: var(--padding-size);
  top: 50%;
  transform: translateY(-50%);
}
#sortBy {
  height: calc(var(--header-top-height) * 0.76);
  line-height: calc(var(--header-top-height) * 0.76);
  outline: none!important;
  border: 1px solid #88888877;
  margin-left: 5px;
  border-radius: 4px;
  padding-left: 5px;
  cursor: pointer;
}

.content-main {
  display: flex;
}
.catalog {
  width: calc(100% - var(--menu-width));
}
.content-filters {
  width: var(--menu-width);
  height: fit-content;
  padding: var(--padding-size);
}
.filter-block {
  height: var(--header-top-height);
  overflow: hidden;
  margin-bottom: 2px;
  transition: 0.3s;
}
.filter-block.opened {
  height: fit-content;
}
.filter-block:nth-child(1)>.filter-name {
  border-top-right-radius: 4px;
  border-top-left-radius: 4px;
}
.filter-block:nth-last-child(2)>.filter-name {
  border-bottom-right-radius: 4px;
  border-bottom-left-radius: 4px;
}
.filter-name {
  position: relative;
  padding: 0 var(--padding-size);
  height: var(--header-top-height);
  line-height: calc(var(--header-bottom-height)*0.85);
  background: #acc3dd4d;
  cursor: pointer;
}
.filter-name>i {
  position: absolute;
  right: var(--padding-size);
  top: 50%;
  transform: translateY(-50%) scale(1.2) rotateZ(180deg);
  transition: 0.3s;
}
.filter-block.opened .filter-name>i {
  transform: translateY(-50%) scale(1.2);
}
.filter-options {
  display: block;
  padding: calc(var(--padding-size)*0.5) 0;
}
.filter-options>div {
  display: flex;
  align-items: center;
  position: relative;
  padding-left: calc(var(--padding-size)*0.5);
  border-radius: 3px;
  margin-bottom: 2px;
  min-height: calc(var(--checkbox-size) * 2);
}
.filter-options>div:hover {
  background-color: #0101400d;
}
.filter-options>div>input {
  position: absolute;
  width: var(--checkbox-size);
  height: var(--checkbox-size);
  top: 50%;
  transform: translateY(-50%);
  z-index: 1;
  font-size: calc(13px + 0.325vw);
}
.filter-options>div>label {
  margin-left: calc(var(--checkbox-size)*1.7);
  cursor: pointer;
  padding: 2px 3px 2px 0;
}
.removeFilters {
  margin: var(--padding-size);
  line-height: var(--input-height);
  padding: 0 calc(var(--padding-size)*1.5);
  border-radius: 4px; border: 1px solid #99999977;
  transition: 0.1s; transform: scale(0.95);
  cursor: pointer; text-align: center; font-weight: 500;
  font-size: calc(14px + 0.35vw); white-space: nowrap;
}
.removeFilters:hover {
  color: var(--accent-color);
}


/* _________ CATALOG __________*/
.catalog-content {
  width: 100%;
  padding: var(--padding-size);
  position: relative;
  min-height: calc(200px + 10vw);
  display: flex;
  flex-wrap: wrap;
}
.catalog-loader-overlay {
  position: absolute;
  top: 0; left: 0;
  width: 100%; height: 100%;
  background: var(--background-color);
}
@keyframes loader-anim {
  0%{ transform: translateX(-50%) rotate(0deg) }
  100% { transform: translateX(-50%) rotate(359deg) }
}
.catalog-loader-overlay::after {
  content: "";
  position: absolute;
  top: calc(40px + 2vw); left: 50%;
  transform: translateX(-50%);
  width: calc(20px + 1vw);
  height: calc(20px + 1vw);
  border: 3px solid var(--primary-color);
  border-right-color: transparent;
  border-radius: 50%;
  animation: loader-anim 1s cubic-bezier(0.68, 0.27, 0.42, 0.74) infinite;
}

.catalog-footer {
  width: 100%;
  display: flex; flex-wrap: wrap;
  height: calc(var(--header-top-height)*2.5);
  align-items: center;
  justify-content: center;
  border-bottom: 1px solid #88888877;
}
.page {
  min-width: calc(var(--header-top-height)*0.8);
  height: calc(var(--header-top-height)*0.8);
  line-height: calc(var(--header-top-height)*0.8);
  text-align: center;
  background: #8888901d;
  color: var(--primary-color);
  border-radius: 4px;
  margin: 4px;
  padding: 0 7px;
  cursor: pointer;
}
.page:hover {
  color: #fff;
  background-color: var(--accent-color-light);
}
.transparent {
  background-color: transparent!important;
  color: var(--primary-color)!important;
}
.active-page {
  color: #fff;
  background-color: var(--primary-color-light);
}
.item {
  width: 25%;
  transition: 0.2s;
  border-radius: 4px;
  padding: calc(var(--padding-size)*0.5);
}

/* __________ PC only __________ */
@media screen and (min-width: 551px) {
  #filtersBtn {
    display: none;
  }
  .item:hover {
    transform: scale(1.05);
    box-shadow: 0 2px 7px 1px #121c385c;
    background-color: #fff;
    border: 1px solid var(--primary-color);
    cursor: pointer;
  }
}
@media screen and (max-width: 900px) {
  .item {
    width: 33%;
  }
}
@media screen and (max-width: 660px) {
  .goods-count {
    display: none;
  }
  .item {
    width: 50%;
  }
}
/* __________ mobile only __________ */
@media screen and (max-width: 550px) {
  .catalog {
    width: 100%;
  }
  .catalog-content, .content { padding: 0 }
  .content-filters {
    background: #fff;
    position: fixed;
    top: 0; right: 0;
    transition: 0.2s;
    z-index: 11; padding: 0;
    height: 100vh;
    overflow-y: scroll;
    transform: translateX(101%);
  }
  .content-filters.active {
    transform: none;
  }
  .content-header {
    top: var(--header-bottom-height);
    background-color: #fff;
    margin: 0;
  }
  .sort-block { width: calc(50% - var(--padding-size)) }
  #sortBy { width: 100%; overflow: hidden; margin: 0; height: var(--input-height) }
  .goods-title, .sort-block> label { display: none }
  #filtersBtn {
    width: calc(50% - var(--padding-size));
    background-color: var(--primary-color);
    color: #fff; box-shadow: none;
  }
  .filter-options { padding: calc(var(--padding-size)*0.5) }
  .item-image> img {
    height: calc(110px + 5.5vw);
  }

}
@media screen and (max-width: 400px) {
  .item {
    width: 100%;
    padding-bottom: 10px;
    margin-bottom: 10px;
    border-bottom: 1px solid #88888877;
  }
}

