<div class="content-wrapper">
  <div class="content">
<!--    <app-map [style]="'height: unset'"></app-map>-->
    <div class="content-header unselectable">
      <div class="goods-title" >Все товары </div>
      <div id="filtersBtn" class="btn" (click)="menuService.showFilters()"><i class="fas fa-sliders-h"></i> фильтры</div>
      <div class="goods-count"> 1562 единицы</div>
      <div class="sort-block">
        <label for="sortBy" class="sort-by-label">сортировать по: </label>
        <select id="sortBy">
          <option value="0" selected>популярности</option>
          <option value="1">цене (сначала дешевые)</option>
          <option value="2">цене (сначала дорогие)</option>
          <option value="3">новизне</option>
        </select>
      </div>
    </div>
    <div class="content-main">


      <div class="content-filters unselectable" [ngClass]="{'active': menuService.filterMenuActive}">
        <div *ngFor="let filter of filters"
             class="filter-block" [ngClass]="{'opened': filter.opened}" id="f{{filter.name}}">
            <div class="filter-name" (click)="toggleFilterBlock(filter)">
              {{filter.name}}
              <i class="fas fa-chevron-up"></i>
            </div>
          <div class="filter-options">
            <div *ngFor="let option of filter.options">
              <input
                type="checkbox"
                id="{{option.name}}"
                [(ngModel)]="option.selected"
                (change)="reloadCatalog()">
              <label for="{{option.name}}">{{option.name}}</label>
            </div>
          </div>
        </div>
        <div class="removeFilters" (click)="removeFilters()">сбросить фильтры</div>
      </div>

      <div class="catalog">
        <div class="catalog-content">
          <div *ngIf="!catalogLoaded" class="catalog-loader-overlay"></div>
          <app-engine class="item"
                      *ngFor="let engine of catalogService.engines"
                      [engine]="engine"
          ></app-engine>
        </div>

        <div class="catalog-footer">
          <div class="page active-page">1</div>
          <div class="page">2</div>
          <div class="page">3</div>
          <div class="page">4</div>
          <div class="page">5</div>
          <div class="page transparent">...34</div>
          <div class="page">next ›</div>
        </div>
      </div>

    </div>
  </div>
</div>
