<div class="content-wrapper">
  <div class="content">
    <div class="content-header unselectable">
      <div class="goods-title" >Все товары </div>
      <div id="filtersBtn" class="btn" (click)="menuService.showFilters()"><i class="fas fa-sliders-h"></i> фильтры</div>
      <div class="goods-count"> 1562 единицы</div>
      <div class="sort-block">
        <label for="sortBy" class="sort-by-label">сортировать по: </label>
        <select id="sortBy">
          <option value="0" selected>популярности</option>
          <option value="1">цене (сначала дешевые)</option>
          <option value="2">цене (сначала дорогие)</option>
          <option value="3">новизне</option>
        </select>
      </div>
    </div>
    <div class="content-main">


      <div class="content-filters unselectable" [ngClass]="{'active': menuService.filterMenuActive}">
        <div *ngFor="let filter of filters"
             class="filter-block" [ngClass]="{'opened': filter.opened}" id="f{{filter.name}}">
            <div class="filter-name" (click)="toggleFilter(filter)">
              {{filter.name}}
              <i class="fas fa-chevron-up"></i>
            </div>
          <div class="filter-options">
            <div *ngFor="let option of filter.options">
              <input type="checkbox" id="{{option.name}}" [checked]="option.selected">
              <label for="{{option.name}}">{{option.name}}</label>
            </div>
          </div>
        </div>
      </div>

      <app-catalog class="catalog"></app-catalog>

    </div>
  </div>
</div>
