:root {
  --header-top-height: calc(35px + 0.875vw);
  --header-bottom-height: calc(42px + 1.05vw);
  --content-size: calc(1100px + 15vw);
  --padding-size-s: calc(5px + 0.25vw);
  --padding-size-m: calc(10px + 0.5vw);
  --padding-size-l: calc(15px + 0.75vw);
  --padding-size-xl: calc(20px + 1vw);
  --menu-width: calc(210px + 5.25vw);
  --input-height: calc(31px + 0.775vw);


  --buy-block-width: calc(250px + 6.25vw);
  --checkbox-size: calc(17px + 0.425vw);
  --search-width: calc(250px + 12.5vw);
  --form-width: calc(270px + 13.5vw);

  --accent-color-light: #ef4d59;
  --accent-color: #d63d48;
  --accent-color-dark: #ba303c;
  --green-color: #4caf50;
  --primary-color-light: #5c7fd1;
  --primary-color: #2f407d;
  --primary-color-dark: #131c36;
  --header-color: #535e5bd4;
  --tooltip-color: #292929f0;
  --my-border-color: rgba(119, 119, 119, 0.47);
  --background-color: #fbfbfc;
}
@font-face {
  font-family: 'Etelka Medium Pro';
  src: url('assets/fonts/EtelkaMediumPro.eot');
  src: local('assets/fonts/Etelka Medium Pro'), local('EtelkaMediumPro'),
  url('assets/fonts/EtelkaMediumPro.eot?#iefix') format('embedded-opentype'),
  url('assets/fonts/EtelkaMediumPro.woff2') format('woff2'),
  url('assets/fonts/EtelkaMediumPro.woff') format('woff'),
  url('assets/fonts/EtelkaMediumPro.ttf') format('truetype');
  font-weight: 500;
  font-style: normal;
}


/*_____________ REBOOT _____________*/
html, body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  margin: 0; font-weight: 400;
  width: 100vw; height: 100vh;
  overflow: hidden;
  font-size: calc(13px + 0.325vw);
  color: #444;
  background: var(--background-color);
}
body { overflow-y: scroll }
* {
  box-sizing: border-box;
  -webkit-tap-highlight-color: transparent;
}
a {
  color: unset;
  text-decoration: none;
}
p {
  margin-block-start: 0;
  margin-block-end: 1em;
}
hr {
  height: 1px;
  border: none;
  background: #8888885d;
}
i {
  font-size: calc(11px + 0.275vw);
}
input, textarea, select {
  font-size: calc(13px + 0.325vw);
}
iframe { filter: drop-shadow(0px 0px 6px #16203d52)}
/*______________TOOLS _______________*/
.notification {
  position: fixed; left: 20px; bottom: 20px;
  opacity: 0;
  z-index: 100;
  min-width: calc(70px + 10vw);  max-width: calc(100% - 40px);
  padding: calc(var(--padding-size-m)*0.5) var(--padding-size-m); padding-right: 0;
  font-weight: 500; background-color: #383e4e;  border: 1px solid #eeeeee2d; color: #eee; border-radius: 4px;
  overflow: hidden;
  font-size: 15px;
  transition: 0.35s linear;
  transform: translateY(30vh);
  display: flex; align-items: center; justify-content: space-between;
}
.notification.visible {
  opacity: 1;
  transform: none;
}
.notification> .closer {
  position: relative;
  width: 35px;
  height: 35px;
  line-height: 30px;
  text-align: center;
  font-size: 25px;
  cursor: pointer;
  opacity: 0.5;
  margin: 0 10px 0 25px;
}
.notification> .closer::after {
  content: ""; left: 0; top: 0;
  position: absolute; width: 100%; height: 100%;
  border-radius: 50%; background-color: #b3bdff47;
  opacity: 0.5; transition: 0.2s; transform: scale(0);
}
.notification> .closer:hover::after {
  opacity: 1; transform: none;
}
.hidden {
  display: none;
}
.nowrap {
  flex-wrap: nowrap;
  white-space: nowrap;
}
.absolute-center {position:absolute;top:50%;left:50%;transform:translate(-50%, -50%)}
.underlined {text-decoration:underline}
.link {cursor:pointer}
.link:hover {text-decoration: underline}
.with-tooltip {
  position: relative;
  width: fit-content;
  z-index: 1;
}
.unselectable {
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.tooltip {
  position: absolute;
  top: 100%;
  left: 50%;
  transform: translateX(-50%) scale(0.2);
  display: none;
  opacity: 0;
  background-color: var(--tooltip-color);
  width: max-content;
  max-width: 210px;
  color: #fff;
  border-radius: 4px;
  padding: 3px 8px;
  font-size: calc(13px + 0.1vw);
  z-index: 1;
  font-weight: 400;
  text-transform: none;
}
.tooltip> p {
  margin-bottom: 4px;
}
.tooltip-additional {
  display: block;
  opacity: 0.7;
  font-size: 12px;
}
.tooltip:after {
  content: "";
  position: absolute;
  bottom: 100%; left: 50%;
  margin-left: -6px;
  border-width: 6px;
  border-style: solid;
  border-color: transparent transparent var(--tooltip-color) transparent;
}
.with-tooltip:hover .tooltip {
  display: block;
  opacity: 1;
  transform: translateX(-50%)
}
.with-columns, .row {
  display: flex;
}
.row {
  align-items: center;
  justify-content: space-between;
}
.btn {
  border-radius: 6px;
  cursor: pointer;
  height: var(--input-height);
  line-height: calc(var(--input-height) - 1px);
  padding: 0 var(--padding-size-xl);
  font-weight: 500; transition: 0.1s;
  white-space: nowrap; text-align: center;
}
.btn-secondary {
  box-shadow: inset 0 0 0 2px #555555;
}
.btn-secondary:active {
  color: var(--accent-color);
  background-color: #ffffff;
}
.btn-3d {
  text-shadow: 0 -1px 1px #0000002d;
  box-shadow: inset 0 -2px 1px 1px #00000029, inset 0 2px 1px 1px #ffffff40, 0 2px 6px 0 #01040e49;
}
.btn-3d:active {
  box-shadow: inset 0 2px 3px 0 #00000020!important;
}
.btn-primary {
  background: var(--accent-color) linear-gradient(360deg, var(--accent-color) 0%, var(--accent-color-light) 100%);
  color: #fff;
}
.btn-modern {
  background-color: var(--accent-color);
  color: #fff;
}
.btn-modern:active {
  background: var(--accent-color);
  background-color: var(--accent-color-dark);
  box-shadow: 0 0 0 1px #fff, 0 0 0 2px var(--accent-color-light), inset 0 0 0 1px #fff;
}
@keyframes btn-loader {
  0%{ transform: translate(-50%, -50%) rotate(0deg) }
  100% { transform: translate(-50%, -50%) rotate(359deg) }
}
.btn-loading {position:relative;transition: none;color:transparent;text-shadow:none;cursor:initial}
.btn-loading:after {
  position: absolute; top: 50%;left: 50%; z-index: 1;
  border-radius: 50%; transform: translate(-50%, -50%);
  border: 3px solid #fff; border-top-color: transparent;
  animation: 1s btn-loader linear infinite; content: "";
  width: calc(var(--input-height) * 0.4);
  height: calc(var(--input-height) * 0.4);
}

.input-block {
  position: relative;
}
.input-block> label {
  position: absolute;
  left: 7px; top: 0;
  line-height: var(--input-height);
  font-size: calc(13px + 0.325vw);
  transition: 0.15s linear;
  opacity: 0.8;
  pointer-events: none;
}
.select {
  appearance: none;
  background-image: url("data:image/svg+xml;charset=UTF-8,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%2212%22%20height%3D%2212%22%20viewBox%3D%220%200%2012%2012%22%3E%3Ctitle%3Edown-arrow%3C%2Ftitle%3E%3Cg%20fill%3D%22%23000000%22%3E%3Cpath%20d%3D%22M10.293%2C3.293%2C6%2C7.586%2C1.707%2C3.293A1%2C1%2C0%2C0%2C0%2C.293%2C4.707l5%2C5a1%2C1%2C0%2C0%2C0%2C1.414%2C0l5-5a1%2C1%2C0%2C1%2C0-1.414-1.414Z%22%20fill%3D%22%23777777%22%3E%3C%2Fpath%3E%3C%2Fg%3E%3C%2Fsvg%3E");
  background-size: 10px;
  background-repeat: no-repeat;
  background-position-x: calc(100% - 10px);
  background-position-y: center;
}
.input, .select {
  width: 100%;
  outline: none!important;
  border-radius: 4px;
  border: 1px solid #5868954f;
  background-color: #fff;
  height: var(--input-height);
  color: #666;
  font-size: calc(13px + 0.325vw);
}
.input-block> .input, .input-block> .select  {
  padding: calc(10px + 0.25vw) 13px 0 7px;
}
.input-block>.input:focus + label,
.input-block>.input:valid + label,
.input-block>.select:not([val=""]):valid + label {
  font-size: calc(10px + 0.25vw);
  transform: translateY(calc(-9px - 0.225vw));
  opacity: 0.5;
}
h1,h2,h3,h4,h5 {
  font-family: 'Etelka Medium Pro', sans-serif;
}
h1, h2, h3 {
  font-size: calc(20px + 0.5vw);
}
h4, h5 {
  font-size: calc(17px + 0.425vw);
  font-weight: 500;
  margin: 0;
}
h6 {
  font-size: calc(16px + 0.4vw);
  font-weight: 400;
  margin: 0;
}
/*___________ SPECIAL __________ */
.content-wrapper {
  width: 100vw;
  position: relative;
}
.content-wrapper> .content {
  width: 100%;
  max-width: var(--content-size);
  margin: 0 auto; position: relative;
  padding: 0 var(--padding-size-l);
}
.category:hover .category-name { text-decoration: underline }
.category:hover img { transform: scale(1.1) }

/* __________ PC only __________ */
@media screen and (min-width: 551px) {
  .btn-secondary:hover {
    color: var(--accent-color);
    background-color: #ffffff;
  }
  .btn-3d:hover {
    background: var(--accent-color);
    box-shadow: inset 0 -2px 1px 0 #00000025, inset 0 2px 1px 0 #ffffff38, 0 2px 3px 0 #01040e40;
  }
  .btn-modern:hover {
    background-color: var(--accent-color);
    box-shadow: 0 0 0 3px #ff9879; transition: 0.2s;
  }
}
/* __________ desktop only __________ */
@media screen and (min-width: 551px) {
  .mobile{display: none; visibility: hidden}
}
@media screen and (max-width: 900px) {
}
@media screen and (max-width: 660px) {
}
/* __________ mobile only __________ */
@media screen and (max-width: 550px) {
  .desktop{display: none; visibility: hidden}
  :root {
    --header-bottom-height: calc(47px + 1.175vw);
    --input-height: calc(35px + 0.875vw);
  }
  body { /* TEST VERSION FOR SAFARI WITHOUT STICKY */
    padding-top: var(--header-bottom-height);
  }
  .content-wrapper> .content { padding: 0 var(--padding-size-m)}
}
