<div class="landing-wrapper unselectable">
  <div class="landing-background"></div>
  <div class="landing">
    <div class="row">
      <div class="landing-text">
        <div>
          <h2>Электро-двигатели МЭЗ</h2>
          <p>Если вы ищете замену двигателя или планируете новый проект,
            найдите свой двигатель с помощью расширенного поиска или свяжитесь с нами любым удобмным вам способом, чтобы убедиться, что вы выбрали двигатель, наиболее подходящий вам.</p>
          <a class="link">Контакты &#8250;</a>
        </div>
      </div>
      <img src="/assets/landingImage.png" class="landing-image" alt="best engines">
    </div>
    <div class="search-block">
      <div class="row">
        <h4>Найди свой двигатель</h4><div id="resetFilters">сбросить</div>
      </div>
      <div class="row filter-row">

        <div class="input-block">
          <select id="productType" class="select" val="" onchange="this.setAttribute('val', this.value);">
            <option value=""> </option>
            <option>тип 1</option>
            <option>тип 2</option>
            <option>тип 3</option>
          </select>
          <label for="productType">тип двигателя</label>
        </div>

        <div class="input-block">
          <select id="productBrand" class="select" val="" onchange="this.setAttribute('val', this.value);">
            <option value=""> </option>
            <option>производитель 1</option>
            <option>производитель 2</option>
            <option>производитель 3</option>
          </select>
          <label for="productBrand">производитель</label>
        </div>

        <div class="input-block">
          <select id="voltage" class="select" val="" onchange="this.setAttribute('val', this.value);">
            <option value=""></option>
            <option value="90V">90V</option>
            <option value="115V">115V</option>
            <option value="180V">180V</option>
            <option value="200V">200V</option>
            <option value="230V">230V</option>
            <option value="277V">277V</option>
            <option value="460V">460V</option>
            <option value="575V">575V</option>
            <option value="2300V">2300V</option>
            <option value="4160V">4160V</option>
            <option value="416V">416V</option>
            <option value="400V">400V</option>
          </select>
          <label for="voltage">вольтаж</label>
        </div>

        <div class="input-block">
          <select id="frequency" class="select" val="" onchange="this.setAttribute('val', this.value);">
            <option value=""></option>
            <option> < 900</option>
            <option>900 - 1200</option>
            <option>1200 - 2500</option>
            <option>2500 - 3600</option>
          </select>
          <label for="frequency">частота</label>
        </div>

        <div id="searchButton" class="btn btn-primary">подобрать</div>

      </div>

    </div>
  </div>
</div>

<div class="category-wrapper">
  <div class="categories">
    <h3>Доступные категории</h3>
    <div class="categories-content">

    </div>
  </div>
</div>

<div class="news-wrapper">
  <div class="news">
    <h3>Новости</h3>
    <div class="news-content"></div>
  </div>
</div>
