.map {
  display: flex;
  flex-wrap: nowrap;
  padding: var(--padding-size-m);
  padding-bottom: 0;
  opacity: 0.6;
}
.map> div {
  margin-right: calc(var(--padding-size-m) * 0.5);
}
span {
  width: var(--padding-size-m);
}
.svg { opacity: 0.7}
